[2013-01-09 23:14] jasonm opened #1 "Check open pulls in a background job"
When a contributor signs the agreement for a project with open pulls, we check all those pulls to update their signature status based on this new signature.  With a lot of open pulls, that could take a while, making the contributor wait a while for the signature HTTP request.

The `app/jobs/push_status_checker.rb` is all set up to be async, it just isn't yet.

[2013-01-09 23:15] jasonm opened #2 "Suggest some option(s) for agreement text"
(Ticket was originally for harmonyagreements.org - I think the CLA/CAA space is more varied and subtle and deserves broader treatment.)

One challenge maintainers have is choosing CLA text. Even understanding the options and the possible clauses involved is nontrivial, and we can help.

There are a variety of agreement texts we can draw from:
- http://elinux.org/Developer_Certificate_Of_Origin
- h

[2013-01-09 23:23] jasonm opened #3 "Integrate with GitHub new/edit file for CONTRIBUTING text"
On `agreements#show`, we suggest linking the CLA from the CONTRIBUTING or CONTRIBUTING.md file:

![](http://i.imgur.com/GYC0C.png)

We can check for the existence of those:

[code]

and suggest to create a new file:

https://github.com/blog/1327-creating-files-on-github

with a URL like:

https://github.com/jasonm/clahub-test/new/master?filename=CONTRIBUTING.md

or to edit an existing file with a

[2013-01-09 23:25] jasonm opened #4 "Support two CLA texts for individuals and organizations"
Typically there is a CLA text for an individual contributor and a CLA text for a company contributor.  Support this.

[2013-01-09 23:26] jasonm opened #5 "Allow configurable fields per CLA"
What should we record upon signature to make the signature more legally defensible?  IP address and time?  Should the contributor re-type their name or initials?  Anything else?

We shall allow agreement authors to include one or more predefined fields:

Implicit
- GitHub username
- Date

Default to: include on new CLAs, but allow opt-out
- Email
- Name
- Mailing address
- Country
- Phone or Skype

[2013-01-10 00:01] jasonm opened #7 "Educate users"
The app is very barebones and mechanical right now, and I think the most important addition is around educating people about when they might want a CLA, what it does, and how to choose one.

[2013-01-15 21:36] fusion94 opened #8 "URL for finished CLA"
Once a user creates a CLA for a project/repo they are presented text and/or directed to a URL that looks something like this:

[code]

The issue is that the actual URL is located at:

[code]

[2013-01-15 21:47] fusion94 opened #9 "Finished CLA formatting"
You can see the CLA for one of my repos that I created at: http://www.clahub.com/agreements/fusion94/ArduinoExamples

It's formatted horribly. Either the textarea box didn't respect the paragraph breaks or I needed to insert HTML/Markdown. If the latter is required that's cool but the CLA author needs to be notified of that at CLA creation.

[2013-01-15 21:54] fusion94 opened #10 "Ability to change CLA text (revisions, versioning)"
Perhaps I missed something but now that I've created my CLA, I can't seem to update or delete it. It's a fire and forget thing. This is critical to have in the future as CLA's will change over time much like a Terms of Service and Privacy Policies.

This will break adoption in a big way.

So an administrative interface needs to be cooked up to allow the owner to revise/delete/version their CLA's.

[2013-01-16 17:34] jasonm opened #12 "Add deploy instructions for Heroku"
It can be valuable for other contributors to get set up easily with a staging environment.

[2013-01-16 17:35] #12 closed, assigned to nobody

[2013-01-18 04:47] jasonm opened #14 "Status broken after domain change"
When changing domains from clahub.herokuapp.com to www.clahub.com, I neglected to update a production config variable that determines the hostname for GitHub's post-receive webhook notifications.  As such, commits were not being updated as pass/fail based on CLA signature status.

This has been fixed and I updated all existing webhook URLs via API in production and verified this.

For folks with C

[2013-01-18 04:47] #14 closed, assigned to nobody

[2013-01-18 04:54] jasonm opened #15 "Update hostname on Commit Status details"
![](http://i.imgur.com/OyABE.png)

[2013-01-19 20:08] jasonm opened #16 "Add status site and announcements"
It's helpful to communicate site news and issue status to users of the site.
- Create a status blog
- Add a library like [paul_revere](https://github.com/thoughtbot/paul_revere) to provide user-dismissible announcements

[2013-01-19 20:09] #16 closed, assigned to jasonm

[2013-01-19 20:30] jasonm opened #17 "OAuth scope and rights too permissive?"
We don't need read+write for private repos, and this is rightfully concerning to users:

UPDATE: We sure don't need `repo`, but it'd be nice to narrow `public_repo` to `public_repo:status`.

http://developer.github.com/v3/oauth/#scopes

[2013-01-19 20:44] jasonm opened #18 "Ask for maintainer's email address"
I've wanted to individually contact early users regarding issues or questions.  Sometimes people don't list their email on their GitHub profile, so we're not able to fetch it via the API.

[2013-01-19 21:29] jasonm opened #19 "Support self-hosting and rebranding"
My hope is that people find this useful enough to use for their own organizations.  In that case, I would not expect that "@jasonm's free Heroku app" is the ideal infrastructure for storing your company's legally-binding agreements.

@fusion94 recommended providing sufficient hooks and documentation so that an organization can easily self-host the application and rebrand/crossbrand their installat

[2013-01-19 21:55] #8 closed, assigned to jasonm

[2013-01-19 22:15] jasonm opened #20 "Remove GitHub uid from auth flash"
Don't show the GitHub user uid:

![](http://s7.postimage.org/d9q0gdjez/Screen_Shot_2013_01_19_at_2_14_30_PM.png)

[2013-01-20 00:41] #9 closed, assigned to jasonm

[2013-01-23 05:22] #20 closed, assigned to nobody

[2013-01-24 05:45] fusion94 opened #24 "Support for other than GH"
Is there any thoughts on supporting sites other than GitHub such as [GitLab](http://gitlabhq.com/) ?

[2013-01-25 00:14] isaacs opened #25 "Provide access to raw data"
Our (that is, node's) current CLA dumps the data into a google doc spreadsheet, which is available to the committers on the project.

In order to switch to clahub, we'd need to still have easy and reliable access to the raw data.  Something we could download and back up would be incredibly sweet.

However, this data needs to be private, as well, as it typically contains phone numbers, irl mailing

[2013-01-27 21:48] jasonm opened #27 "Make CLAHub compatible with other Commit Status tools"
If e.g. travis-ci and clahub both update the status for a commit, only the last one is displayed.

A few options:
- Provide alternative status indication methods; e.g. commenting on the commit instead of commit status.
- Providing a flexible status indication API: e.g. you subscribe to a CLAHub webhook which emits new commit statuses.

CC @scottgonzalez re https://twitter.com/scott_gonzalez/status

[2013-01-28 00:34] #7 closed, assigned to nobody

[2013-01-29 03:59] sumbach opened #28 "Should not report "Good to merge" unless all commits are okay"
For example, on https://github.com/sumbach/clahub-test/pull/1 the "Good to merge" message is displayed in spite of two commits failing the CLA check.

I'm not sure if this is achievable via the current Commit Status API (since it seems more focused on CI tools where only the most recent commit is relevant).

[2013-01-29 04:07] samumbach opened #29 "Should not report success for commits with email addresses that have not been verified in GitHub"
See commit 803ecd0 on https://github.com/sumbach/clahub-test/pull/1. I've added this email address (s.umbach@gmail.com) to my account but have NOT yet verified my ownership of this address.

I don't think such email addresses should be considered for purposes of verifying they have signed the CLA--it lets any GitHub user claim any email address not yet associated with another GitHub account.

I'm

[2013-01-29 04:14] samumbach opened #30 "Re-check old commits in case the user adds the email address to their account"
Kind of the opposite situation of #1, I can add an email address to my account after I've signed the CLA and submitted a pull request (see commit 86b3ac6 on https://github.com/sumbach/clahub-test/pull/1). This commit continues to be marked Failure after I add the email address (s.umbach@gmail.com) to my account.

Note that commit 803ecd0 is from the same email address and is marked Success.

See a

[2013-01-29 04:22] samumbach opened #31 "Manually revoke CLA signature"
(extracted idea from #10)

Contributor or project maintainer should be able to manually revoke CLA signature at any time.

Commits on open pull requests should be updated to reflect failure for any commits from the revoked user.

[2013-01-29 06:12] samumbach opened #32 "Allow project maintainer to manually add contributor email addresses"
Until all the legal details get worked out (see #5), it would be great if CLAHub could also support other CLA signing processes (e.g., mailing a signed paper copy of the form, fax, S/MIME or GPG signature, etc).

The easiest way to allow projects to effectively use CLAHub (and GitHub pull requests) is the provide for manual entry of CLA signing info:
- date of signature
- name
- email address
- Gi

[2013-02-08 21:50] fusion94 opened #33 "Links to GitHub users"
Once a user has signed a CLA and is listed under "Users who have signed:" then clicking on their username should take one to their github profile page.

![Screenshot_2_8_13_1_49_PM](https://f.cloud.github.com/assets/51660/141088/82cf6ed2-7239-11e2-87c7-fb0fdc3f286e.png)

https://github.com/fusion94
instead of
http://www.clahub.com/agreements/kandanapp/kandan#

[2013-02-08 22:53] heff opened #34 "Changing repo owner"
Cool service. Just wondering if changing the repo owner/organization would mess with the link between CLA hub and the project at all. That might happen in the near future so I want to know if I should wait to do CLA hub until then. Thanks!

[2013-02-13 19:57] #33 closed, assigned to nobody

[2013-02-16 22:14] #15 closed, assigned to nobody

[2013-02-16 22:57] #25 closed, assigned to nobody

[2013-02-17 00:06] fusion94 opened #37 "ToS Agreement"
Owners/Admins need to agree to the CLAHub ToS prior to creations a CLA.

[2013-02-18 01:27] jasonm opened #38 "GitHub webhook sometimes gets an HTTP 504 Gateway Timeout from CLAHub"
I'm trying to verify the CLAHub setup for Molajo/Filesystem - specifically, https://github.com/Molajo/Filesystem/pull/2.  That project is using TravisCI, so #27 still applies here and we'll currently only see one status indicator at a time (Travis or CLAHub) for a given pull.

That said, I can see via API access that CLAHub never correctly set a status on Molajo/Filesystem@3636c376b2674c5d97fbf334

[2013-02-18 01:46] jasonm opened #39 "Create a github service for CLAHub"
Right now we use a generic webhook, but could be listed as a GitHub service by contributing to https://github.com/github/github-services

[2013-02-18 08:14] #5 closed, assigned to jasonm

[2013-02-19 19:41] cndreisbach opened #40 "CLAHub checking for contributor agreements on parent repo"
I have a repo, crnixon/hmda-tools, which is forked from CFPB/hmda-tools. I tried to use CLAHub to add a contributor agreement to crnixon/hmda-tools, but the checks are now showing up on CFPB/hmda-tools.

I can find no way to remove the CLAHub service from a repo. Could you please remove it from my repo?

[2013-02-20 03:09] jasonm opened #41 "Allow maintainer to remove CLAHub service from a project"
See #40, sometime's it's useful to remove CLAHub integration.  This can be done by manually removing the webhook in a project's service, but we could provide automation of this.

See `Agreement#delete_github_repo_hook` (which I have used in manual testing but is not exposed via the UI): https://github.com/clahub/clahub/blob/762e01c63a7bfa785abcaa5eaf68b39b330ed1dd/app/models/agreement.rb#L30-35

[2013-02-20 03:11] #40 closed, assigned to nobody

[2013-02-22 17:06] fusion94 opened #42 "Busted URL"
The link to _Source Code and Issues_ on CLAHub points to:

https://github.com/jasonm/clahub when it should point to:

https://github.com/clahub/clahub

[2013-02-22 17:07] fusion94 opened #43 "Notifications"
The creator of a CLA should be able to be notified via email when a new user signs the CLA.

[2013-02-23 21:22] #42 closed, assigned to nobody

[2013-04-18 01:12] jasonm opened #46 "After a user signs the agreement, link them back to the GitHub project."
We should encourage the user to continue their contribution process.  Maybe this just means linking back to the GitHub repo, or maybe there's something better we can do (their open pull req, or the original GH referring URL that landed them onto clahub.com).

[2013-05-01 00:56] jasonm opened #47 "CLAHub should subscribe to more GitHub hook events"
CLAHub knows to look and check the signature status on commits because it receives webhooks from GitHub notifying it of new commits.

Currently, CLAHub only handles to the "push" event: https://github.com/clahub/clahub/blob/master/app/controllers/github_webhooks_controller.rb#L7

It should handle more events, like "pull_request" - here is a list of the events: http://developer.github.com/v3/repos/

[2013-06-20 16:07] tduchateau opened #48 "Error when trying to sign the CLA"
Hi,

I'm trying CLAHub in my GH organization. I created the CLA and tried to sign it but got the following message:

We're sorry, but something went wrong.

Some notes:
- No problem when signing the CLAHub's CLA a few seconds ago :-)
- I have 1 pull-request pending in the repository linked with the CLA I've just created

Thanks!

Regards,
Thibault

[2013-07-16 19:35] pippijn opened #49 "Delete a CLA that nobody has signed yet"
I wanted to make a CLA for my project, but I'm not satisfied with it, so I wanted to redo it while nobody had signed it, yet. How would I go about this?

[2013-07-18 04:25] #49 closed, assigned to nobody

[2013-07-18 05:00] jasonm opened #50 "Add long-term log storage"
So you can troubleshoot old issues.

Hear back from logg.ly and add http://loggly.com/support/advanced/s3-bucket-archives/

[2013-07-19 15:27] echampet opened #51 "Clahub not adding pull request footer"
Hi,
I've signed the agreement for ajaxplorer/ajaxplorer-core before sending my first pull request (ajaxplorer/ajaxplorer-core#240) (maybe even before forking the project) and nothing appear in all my pull request (see also my 2nd PR ajaxplorer/ajaxplorer-core#242 and @cdujeu comment https://github.com/ajaxplorer/ajaxplorer-core/pull/240#issuecomment-21203942).
Email of the commiter (me) is the sam

[2013-11-07 22:26] silviapfeiffer opened #52 "Continued development of clahub"
I love this project. However...
the last patches were applied 4 months ago - are you continuing to evolve this project?

[2013-11-09 23:59] #52 closed, assigned to nobody

[2013-11-15 11:35] gdfm opened #53 "Delete/Modify the CLA of a project."
Hi,

I would like to redo the CLA for one of my projects (gdfm/samoa). Is there a simple way to delete the CLA and create a new one?

[2013-11-26 21:06] #53 closed, assigned to nobody

[2013-11-30 19:17] #48 closed, assigned to nobody

[2013-12-01 22:51] jasonm opened #54 "Only ask for public read-only OAuth scope for signers"
We only need the `public_repo` scope for people who make agreements.  People who are signing agreements really only need their identity provided by GitHub, so we  should only ask for the `(no scope)` "Public read-only-access" [GitHub OAuth scope](http://developer.github.com/v3/oauth/#scopes).

Related to, but different from, #17

[2013-12-11 19:35] lmarkus opened #55 "Not seeing the "Sign now" link"
I created [this project](https://github.com/lmarkus/ContributionTest),
Added the CONTRIBUTING file, and subscribed it to clahub.com

However, Pull requests are going through without requiring anyone to sign.

Am I doing something wrong here?

[2014-01-10 10:29] torresdal opened #56 ""Something went wrong" message when signing agreement"
Hey,

I created an agreement yesterday for my open source project ConDep, but when my Contributors try to sign the agreement, they get a page saying: "Something went wrong".

Btw, great initiative!

Thanks,

./jon

[2014-02-23 23:53] jtnelson opened #57 "Delete CLA for cinchapi/concourse"
I mistakenly saved the CLA before it was finished. Can you delete it so I can add the new, correct one?

[2014-02-24 03:28] #57 closed, assigned to nobody

[2014-04-03 21:14] matsimon opened #59 "clahub.com doesn't provide SSL access"
I really like the idea and I'd like to contribute to a project that uses CLAhub to manage CLAs. I know there are some cost added by getting a SSL-certificate in order to enable HTTPS but I'm not so much in favour to use a service that requires me to pass personal data like a phone number yet doesn't provide at least transport security.

Instead of barking about missing tin foil hats, what would be

[2014-04-07 21:26] #50 closed, assigned to jasonm

[2014-04-26 08:57] denisdefreyne opened #60 "Allow deleting CLAs"
I seem to have no option to delete the CLA myself.

I’d like to get rid of the CLA for nanoc/nanoc.ws.

[2014-05-04 17:43] briantopping opened #61 "Widen CLA Scope"
Hi all, cool project, thanks for keeping it going!

I need to have a CLA for the scope of a whole organization, not just individual repos.  When new repos are added, they should be covered by the existing CLA, not require a new CLA to be signed.

IANAL, but the way things are articulated, it would be easy for a layperson to be convinced that the CLAs here reflect against individual repos, and a ne

[2014-05-18 08:13] mitar opened #62 "Combined Status API"
[Combined Status API](https://developer.github.com/changes/2014-03-27-combined-status-api/) is not available. So this means we could have support for running both clahub and Travis CI at the same time for each pull request. I think it is needed that clahub sets a correct context for this to work.

[2014-05-22 13:47] wizonesolutions opened #63 "Blog link broken"
This is at the top of the site:

That's a broken link. What should I know before adopting?

(sorry, clicked wrong button, ignore random close/open)

[2014-05-25 10:59] wizonesolutions opened #64 "Organization repos not appearing"
I've been reading through https://github.com/clahub/clahub/pull/26 and the changes made there. Though not intimately familiar with the Ruby GitHub wrapper library being used, I have been trying to use the [GitHub API Console](https://apigee.com/console/github) to test what I think CLAHub is doing and ensure it's not a data issue.

...OK, I actually looked up `github_api` to see what CLAHub is doin

[2014-06-01 14:48] jessp01 opened #65 "Authentication failure! access_denied encountered when running rake"
Hello,

I have exported my GITHUB_KEY and GITHUB_SECRET as the appear in my https://github.com/organizations/kaltura/settings/applications/104652 [you won't be able to access it of course but just to show this is the correct settings location]
When I:
$ echo $GITHUB_KEY
$ echo $GITHUB_SECRET

I get the correct values.

Can you please advise as to how to debug further?

Thank you,

[2014-06-01 15:33] jessp01 opened #66 "Choose a repo'"
Hello all,

My user 'jessp01' also has admin rights over kaltura/platform-install/packages
However, in the /agreements/new form, this does not appear.
Is this a known issue? the kaltura repo is shared among many people, I do not know if I can login as the root 'kaltura' account but I do have admin privileges to it and was able to create a GIT app for it.

Thanks in advance,

[2014-06-06 02:13] max-mapper opened #67 "not listing all of my repos"
hiya, when I go to /agreements/new I don't get a full list of repos I have access to.

Here's the list I get:

[code]

which is 229, but I should have access to around 1000

thanks!

[2014-06-06 03:05] jbenet opened #68 "Permissions"
When authorizing, it seems to me that clahub asks for too many permissions. Can this be reduced? It certainly gave me pause to give clahub blanket write access to all my repos. Not that it would be misused by you, but bugs/compromized websites could seriously hurt projects.

I recommend moving to simple auth for author info, and then do per-repo authorization to add each CLA.

[2014-07-09 08:37] Vampire opened #70 ""Corporate Contributor Information" is not optional"
"Corporate Contributor Information" is a mandatory field. You cannot submit the form without putting something in there while it says "fill out IF ..."

[2014-08-18 16:09] #27 closed, assigned to nobody

[2014-09-17 16:51] timkuijsten opened #72 "remove my account"
Can you please remove my account and the cla I've created? It's timkuijsten/mastersync.

I was unable to edit my CLA so I moved to the simple process of letting contributors download a text file, sign it and mail it to me: https://github.com/timkuijsten/mastersync/blob/master/misc/caa.txt

I'm even thinking about letting them create a pull request with their signed cla somewhere in the repo. Not s

[2014-10-08 13:36] boxerab opened #77 "Support Github Organizations"
My project repo is part of an organization I created, However, only my personal
repos show up when I try to use CLAHub.

[2014-10-11 19:42] #72 closed, assigned to nobody

[2014-10-11 19:44] #77 closed, assigned to nobody

[2014-10-11 19:45] #66 closed, assigned to nobody

[2014-10-11 21:05] #63 closed, assigned to nobody

[2014-10-11 21:05] #62 closed, assigned to nobody

[2014-11-02 01:09] liorkesos opened #81 "Lower case my cla"
https://www.clahub.com/agreements/linnovate/mean

I want to edit it and not to "scream" the first line just to have all text in lower case.
Edit functionality would be awesome
Lior

[2014-11-02 03:23] adrelanos opened #82 "enabling clahub for whole organizations rather than just individual repositories"
We @Whonix have way too many repositories (`~100+`)(https://github.com/Whonix). Manually setting @clahub up for each of them would be a huge pain.

Could you add a feature please for setting up clahub for a whole `https://github.com/organizations/*` such as for example for the whole `https://github.com/Whonix/*`?

[2014-11-02 06:13] #81 closed, assigned to nobody

[2014-11-03 23:21] esteve opened #83 "CLAHub only checks for the latest commits in the webhook notification"
If a pull request receives more commits after it's been opened, CLAHub will only check the latest commits in the webhook event.

For example, given user A (who hasn't signed the CLA for our repo) and user B (who has), if user A submits a pull request CLAHub will correctly mark the pull request as invalid. However, if user B pushes more commits to the same branch, CLAHub will mark the pull request

[2014-11-06 20:51] PeterWhittaker opened #86 "Support private repos"
If at all possible, please add support for private repos. We are working in "stealth mode" for now, getting code into our repo, cleaning it up, figuring licensing and CLA issues, etc., until we get to the point where we are comfortable adopting 1) an organizational repo and 2) a public organizational repo.

Ideally, we'd like to get the CLA in place earlier rather than later, while we are still at

[2014-11-16 05:23] SeanFeldman opened #87 "Removed webhook problem"
When remove CLAHub webhook from a repo, there's no instructions how to re-add it back

[2014-11-16 05:24] SeanFeldman opened #88 "Updating an existing CLA agreement"
When need to updated an existing agreement, there's no way to do so (modify fields for example)

[2014-11-20 13:32] thepag opened #89 "User has accepted CLA, but their Pull Requests show as Not All Signed"
Our [CLA](https://www.clahub.com/agreements/happyworm/jPlayer) asks for a *name* and *email*.

The user in question said that the `email` they used was not the same as their github username email. I have no idea if this is a cause, but I agree with the user that they should be able to put in any email address they want in there or it should state: **github username email**

The discussion thread i

[2014-12-02 06:47] #60 closed, assigned to nobody

[2014-12-02 07:14] #41 closed, assigned to nobody

[2014-12-09 20:05] anestv opened #91 "Add HTML5 form fields and validation"
In the signing form, fileds could use html5 types and be required, like

[code]

This way the form would be validated before being sent to the server.

I was going to make a pul request, but I don't know how to do this on Ruby-Rails

[2014-12-11 18:08] danielgleonard opened #92 "The CLAHub CLA for CLAHub doesn't exist"
I get a 404 when going to https://www.clahub.com/agreements/clahub/clahub.
![404](https://cloud.githubusercontent.com/assets/2147763/5399152/490e01f8-812e-11e4-9f3e-95cf02bde7bf.png)

[2015-01-16 13:23] teleyinex opened #95 "I cannot delete a CLA"
I've created an agreement, and every time I try to delete it, it fails. How can I delete it?

[2015-01-19 06:23] GLaDOS commented on #56
I'm getting this error for DrewCrawford/DCAKit

[2015-01-21 17:35] CombustibleLemon commented on #86
+1

[2015-01-22 13:50] maxnordlund commented on #92
This is still the case. What is happening @jasonm?

[2015-01-28 08:28] #47 closed

[2015-01-29 21:19] robinzimmermann commented on #4
Even though a company may sign the corporate CLA, that doesn't remove the need for users to also sign the individual CLA. So you'll end up with an individual CLA for each user, plus a corporate CLA for the company.

[2015-01-29 21:27] robinzimmermann commented on #82
+1 :+1: :+1: :+1:

[2015-01-30 07:04] #28 closed

[2015-02-03 17:43] henrikekblad commented on #56
Many of our contributors is getting this error when new people trying to sign up to out CLAs.

/mysensors/Arduino
/mysensors/Vera

@jasonm Do you have any clue what is wrong?

Thanks
Henrik

[2015-02-04 07:15] jasonm commented on #56
Hm @henrikekblad the underlying cause is that when a new user signs an agreement, clahub re-checks open PRs on the project to update any relevant commit statuses to reflect the new signature.

When it tries to update `POST https://api.github.com/repos/mysensors/Arduino/statuses/7d099f65171c6b4666316d9f3e7c71c7cae9270a?access_token=<redacted>` in response to a signature, it receives a 404 from the

[2015-02-04 08:03] henrikekblad commented on #56
Thanks for the rely.

Posting some screenshots.

Looks like CLAHub signatures/CLAHub differs in permissions (mysensors is missing). But I can't find options to change this on "signatures".
Note that I have made no changes on my side regarding permissions.. What makes it even stranger is that a few users have successfully signed the CLA while most fail.

![screen shot 2015-02-04 at 08 50 19](https:

[2015-02-04 21:14] SirCmpwn commented on #89
Reproduced here: https://github.com/SirCmpwn/TrueCraft/pull/18

[2015-02-08 20:37] step21 commented on #39
I think this is obsolete by now ... per as https://developer.github.com/webhooks/ (at the bottom) "We will no longer be accepting new services to the github-services repository."

[2015-02-23 12:35] ferventcoder commented on #88
:+1:

[2015-02-23 12:36] ferventcoder commented on #68
This can be closed - see https://github.com/clahub/clahub/pull/101#issuecomment-75479008

[2015-02-23 12:38] ferventcoder commented on #17
Can this be closed? https://github.com/clahub/clahub/pull/101#issuecomment-75479008

[2015-02-23 12:38] ferventcoder commented on #54
Can this be closed? https://github.com/clahub/clahub/pull/101#issuecomment-75479008

[2015-02-23 12:39] ferventcoder commented on #88
This is a duplicate of #10.

[2015-02-23 12:40] ferventcoder commented on #10
:+1:

[2015-02-23 12:42] ferventcoder opened #103 "Agreements You have Created Should be Agreements You are Involved With"
We have a need for others in the same organization with write access to see who has signed the agreements (outside of pull requests). Right now it is just me with access to see who has signed the agreements.

At the very least I should be able to explicitly provide read access to other folks in the organization.

[2015-02-23 12:50] ferventcoder commented on #103
Also, I wouldn't give those that have been shared with the ability to download the CSV, only the list of names of github users that have signed the agreement. This is for security and privacy purposes.

[2015-02-23 12:53] ferventcoder commented on #103
I see it implemented like this
![image](https://cloud.githubusercontent.com/assets/63502/6328054/a3c2b1be-bb28-11e4-97a8-0dae91abb535.png)

[2015-02-24 17:09] #68 closed

[2015-02-24 20:42] Nijikokun commented on #89
It is an issue with the **github user email** being private

[2015-02-25 22:28] jugglinmike commented on #56
I think we just stumbled across this, too. Anything strange in the logs for GitHub user `paul-wade`, @jasonm ? Paul grabbed a screenshot of the data he attempted to enter, in case it helps:

![paul-wade-bug](https://cloud.githubusercontent.com/assets/677252/6382044/9b7b4308-bd13-11e4-8c11-2859f5eb2706.png)

[2015-02-26 14:35] joelrbrandt opened #104 "Receive "We're sorry, but something went wrong." error when attempting to sign CLA"
I'm attempting to sign JSHint's CLA here https://www.clahub.com/agreements/jshint/jshint

After I authenticate with GitHub, fill out the form, and click "submit", I get an error that says "We're sorry, but something went wrong."

This happens both in Chrome (40.0.2214.115 (64-bit)) and Safari (Version 8.0.3 (10600.3.18))

I'm filling the form with this information:

![screen shot 2015-02-26 at 6 3

[2015-02-26 23:22] dionyziz commented on #104
I get an HTTP 500 error which I don't know if it's the same. Here's a screenshot of the error.

![screen shot 2015-02-27 at 1 18 20 am](https://cloud.githubusercontent.com/assets/544572/6404294/0b57a408-be1f-11e4-8054-b4483423d26e.png)

This occurs after the form is POSTed. The details I entered are:

Email: dionyziz@kamibu.com
Name: Dionysis Zindros
Country: Switerland
Type "I AGREE": I AGREE

[2015-02-26 23:54] rwaldron commented on #104
Don't laugh—I can't sign the CLA for JSHint.

[2015-02-27 00:49] jugglinmike opened #105 "Receive "We're sorry, but something went wrong" error when delivering web hook"
GitHub has received a 500 error when delivering web hooks for [the jshint/jshint project](https://github.com/jshint/jshint) consistently since 2015-02-25 11:22:44 . This may be related to gh-104, but since the error is a generic 500 and being reported by a separate resource, it's hard to say.

![screenshot from 2015-02-26 19 37 39](https://cloud.githubusercontent.com/assets/677252/6405300/aca4b79a

[2015-02-27 00:51] mattflaschen commented on #104
I get the same error, in both Firefox and Chromium..

[2015-02-27 03:17] schuyler1d commented on #104
I also get the same error (also need to sign CLA for JSHint).

[2015-02-27 21:09] dionyziz commented on #104
I ended up signing via GPG.

On Fri, Feb 27, 2015 at 5:17 AM, Schuyler Duveen <notifications@github.com>
wrote:

[2015-02-27 21:22] victor-homyakov commented on #104
FAIL. Can't sign the CLA.

[2015-02-27 23:08] thefosk commented on #104
Same error.

[2015-02-28 16:33] bollwyvl commented on #104
Me too.

[2015-02-28 21:25] fabiomcosta commented on #104
I had the same issue

[2015-03-01 16:20] svendahlstrand commented on #104
Same for me.

[2015-03-01 21:00] jugglinmike commented on #104
Would anyone subscribed to this issue mind hopping back over to https://www.clahub.com/agreements/jshint/jshint and trying to sign again? @stevenbenner just successfully signed (thanks, Steven!), and I'm cautiously optimistic that this has magically fixed itself (especially since the webhook handler seems to be working as well)

[2015-03-02 02:44] joelrbrandt commented on #104
@jugglinmike Works for me! Closing this issue.

[2015-03-02 02:44] #104 closed

[2015-03-02 07:02] thefosk commented on #104
The bug is still there when I try to sign at https://www.clahub.com/agreements/Mashape/kong

[2015-03-02 19:31] thefosk commented on #104
To give some more context, below is the snapshot of my form. I am also the creator of the CLA, so the issue may be related to owners signing their own CLAs.

https://www.clahub.com/agreements/Mashape/kong

![screen shot 2015-03-02 at 11 29 45 am](https://cloud.githubusercontent.com/assets/964813/6448547/9a31c4e4-c0cf-11e4-84fc-0e037e1e35d3.png)

[2015-03-02 23:07] jugglinmike commented on #104
@thefosk I'm not so sure about that--I was the first to sign my project's CLA. Then again, @rwaldron is also an owner of the GitHub repository (but not the license on CLAHub), and he couldn't sign. It might be that he triggered the bug when he first attempted to sign.

@rwaldron: do you remember if you commented here immediately after attempting to sign?

[2015-03-05 06:45] jasonm commented on #104
Hm, yes there are errors logged for these.  Here's a redacted subset for some of the JSHint-related ones: https://gist.github.com/jasonm/761b3d3d25aa697d3cda

Interestingly the `access_token` that I redacted from those logs doesn't appear attached to any CLAhub user; I'd expect it to be @jugglinmike 's token, i.e the owner of the Agreement.  @jugglinmike did you go through the OAuth flow anew rece

[2015-03-05 06:47] jasonm commented on #104
If this is the case, then it is only the owner of the repo whose auth token needs to be updated, not every signer.

[2015-03-05 15:01] jugglinmike commented on #104
@jasonm I can't say for sure :/ I did not create the CLA for JSHint until after gh-101 was deployed, but I already had an account with CLAHub. It sounds like this is related to my account and not necessarily tied to any specific license.

[2015-03-05 21:23] thefosk commented on #104
@jasonm I confirm that after signing out, accepting the new OAuth scopes, and signing the CLA again it finally worked.

[2015-03-08 12:58] aalmiray opened #107 "Allow team exclusions"
There may be times when certain team members may not be required to sign a CLA. The use I have in mind is a JSR that's dual licensed. JSRs are usually governed by the JSPA, contributions made by Expert Group members are covered by the JSPA. But contributions made by non-EG members may be governed by a different license, for example the ASLv2. Given that EG members have already signed the JSPA they

[2015-03-08 15:40] keilw commented on #107
Integrated with GitHub this may work well to configure CLAHub (at least optionally) for certain teams only ;-)

[2015-03-09 13:24] kermie opened #108 "Takes a long time for checking if CLA is signed"
Sometimes it takes up to five days to check if a user signed the CLA. Have no clue what's going wrong or in which queue these requests stuck. Obviously (as it appears after a couple of days) we didn't do anything wrong with the implementation.
Cheers!

[2015-04-10 05:59] lminiero opened #109 "Contributors getting "We're sorry, but something went wrong." on my agreement"
Not sure what may be wrong. I created the agreement yesterday and it seemed to work fine for a while, but since a few hours ago it seems to have stopped working, as three different users reported they got a "We're sorry, but something went wrong." error. Trying to sign out and retry apparently didn't solve the issue.

Any additional info I can provide to sort this out? The link to my CLA is https:

[2015-04-10 12:39] lminiero commented on #109
Problably related to #105 as I just tried myself and I saw a 500 error being returned.

[2015-04-15 23:50] klinebch commented on #82
+1.  Same exact use case.

[2015-04-21 19:43] NvPhysX commented on #86
Has any action been taken on this? I see a message box saying that private repos should work given that I have admin rights and my organization role is publicized, but I believe I have met both of those criteria and I am still not seeing my private repos in the dropdown box.

[2015-04-28 17:12] Nijikokun commented on #104
New user registering on CLAHub I have this issue @jugglinmike I am not the owner.

Hundreds of people wanting to sign our CLA are having this issue.

[2015-04-28 20:15] jugglinmike commented on #104
@Nijikokun You might try de-authorizing CLAHub from the GitHub administrative interface, then completely signing out of both CLAHub and GitHub and then signing in again. The owner of the CLA should try the same (in that case, de-authorizing may delete the existing CLA--you should confirm with the maintainers before trying that if you already have signatures). This may or may not have been what fix

[2015-04-28 20:36] Nijikokun commented on #104
I've opted to forgo further usage of clahub in favor of google forms this
was breaking user trust.

[2015-04-30 14:32] rnicholus commented on #109
same issue on our end

[2015-04-30 14:36] lminiero commented on #109
@rnicholus I eventually gave up and reimplemented something similar myself. I don't think the project is maintained anymore as I tried contacting the author on twitter and didn't get a response there either. Unfortunately it looks like you also get a 500 error when destroying the agreement, which means you need to manually remove the pull request webhooks clahub created.

[2015-04-30 14:37] rnicholus commented on #109
@lminiero Yes, I figured this project was may be dead. Thanks for the confirmation and the info. I'll proceed to remove from my repo as well.

[2015-05-05 17:20] SirCmpwn commented on #109
@lminiero have you made your solution public?

[2015-05-05 18:15] lminiero commented on #109
@SirCmpwn no but it's really much simpler in concept. No github webhooks implemented for pull requests for instance. I just make use of the github authentication process to "sign" an HTML form that asks for the same things clahub does, so something quite crude that should be quite easy to replicate.

[2015-05-18 20:27] kellyelton opened #110 "Incorrectly says someone signed"
I suppose the best way to show you what's going on is to show you what I'm seeing

The pull request https://github.com/octgn/OCTGN/pull/1433

and then the CLA https://www.clahub.com/agreements/octgn/OCTGN

So that user has never signed the CLA, and it says that he did.

[2015-06-24 10:44] Marak commented on #109
I have the same problem here. Using this for http://hook.io

The project is dead? :-(

@jasonm ?

[2015-06-29 13:14] Marak commented on #109
Does anyone want to put up a new version of this somewhere?

[2015-07-03 05:56] jasonm opened #111 "On maintenance of clahub and clahub.com"
Hi all,

It's clear that I'm failing to maintain this project, and I don't think the situation will improve.  I would like to share my thoughts and propose some ways forward to improve the situation, and welcome others' thoughts on this.

There are two separate things in question: the public shared instance at https://www.clahub.com, and the the code here on GitHub.

I'm the only person currently

[2015-07-03 07:43] Marak commented on #111
What is the problem here?

**Why is the service not working?**

 No one needs any updates. We just need the service to go back to what it was doing before.

Why can you not do that? Can you not afford to pay the hosting bill? I don't understand why the service would go from working to not working if you weren't making any changes to it.

Can you just spend the 20 minutes to restart the instance /

[2015-07-03 13:54] toonetown commented on #111
I, for one, really appreciate what you have done. I think that right now, there is a lot of benefit in option three - I think that also addresses the issue with contributors needing to hand off their application keys...because they would only be in association with a specific project.

Also, as for the bugs that happen, if someone is being bitten by them, it is a lot easier if they have access to

[2015-07-04 01:11] jugglinmike commented on #111
I also appreciate the effort that has gone into maintaining this project and (even more) into maintaining the instance. Thanks for that, and for being transparent about this.

I wanted to make a note of a new feature that would be important in the event that you decide to take down the service: an "import signatures" function. This will allow users migrating from the "public" instance on clahub.co

[2015-07-04 15:01] toonetown commented on #111
I like @jugglinmike's idea of exporting signatures...would be nice in migrating to a private instance (though I haven't used the public service yet).  Are there issues around the private or sensitive nature of that data?

[2015-07-07 00:58] freddyrangel commented on #111
So funny story but I'm working on a very similar app at HelloSign using our embedded signing API for e-signatures. The idea was to have something that does what clahub does but include some other features (like automatically checking authors of PRs to see if they signed a CLA, for example). I could float around the idea to our engineering team about having HelloSign take over the project, if that'

[2015-07-07 02:09] jasonm opened #112 "Accept import of signatures"
You can export signatures from an existing instance with `AgreementCsvPresenter` https://github.com/clahub/clahub/blob/master/app/presenters/agreement_csv_presenter.rb exposed in the UI.

It would be nice to have a UI for importing this CSV into a new instance.

One thing that occurs to be is - I believe the challenge would be around representing Signatures linked to User instance which have not y

[2015-07-07 02:23] jasonm commented on #111
@marak wrote:

I agree that would be confusing.  The thing is, I just created https://github.com/jasonm/clahub-org-test2/pull/1 and created a CLA and it worked as expected, so it's not an issue of going in and flicking switches on some process.  And, looking at the logs, the service is working as expected for a large number of users.

The work to be done here is understanding what cases aren't wor

[2015-07-07 02:26] jasonm commented on #111
Someone mentioned an interesting alternative to be by email that I hadn't seen before - https://cla-assistant.io / https://github.com/cla-assistant/cla-assistant that appears to be made by SAP.

[2015-07-07 05:35] freddyrangel commented on #111
@jasonm - So, I started building HelloCLA from scratch last week only because CLAhub seemed under-maintained. Originally I considered just contributing to CLAhub and offering a free HelloSign API subscription but I wasn't sure the PR would get looked at.

Ideally I'd like to not duplicate effort by working on an identical project like HelloCLA, and just focus on making CLAhub really awesome. Our c

[2015-07-14 14:23] rwaldron commented on #82
We have several repos in the Tessel Project which are governed by the same body. It is very likely that a single person will contribute to more than one repo, so having this feature would be greatly appreciated.

[2015-07-17 14:28] YuleiXiao opened #113 "I press agree after fill, it report error"
error message is "We're sorry, but something went wrong."
But I fill all the blank, how to know which one is wrong?

[2015-08-13 20:17] bostjan commented on #111
Any news on project maintenance takeover?

b.

[2015-08-22 17:01] codeblooded opened #114 "Calhub.com returning "heroku: No such app""
Wat? Has the project been pulled off heroku, did DNS change?

[2015-08-23 21:44] ferventcoder commented on #111
Guessing the heroku free tier is causing the dynos to sleep now? :/

[2015-08-24 14:35] ferventcoder commented on #111
And it is back up again.

[2015-08-25 20:18] pyhedgehog commented on #114
[It](https://www.clahub.com/) works for me. Maybe temporary [outage](https://status.heroku.com/incidents/802)?
BTW: **cla**hub, instead of *cal*hub.

[2015-08-26 16:59] jtnelson commented on #111
@jasonm I'm interested in taking over maintenance

[2015-08-26 20:18] bostjan commented on #111
@jtnelson Excellent news!

If it was up to me (it is not:), I would start by reviewing all the github forks of clahub and merging relevant improvements, there are quite a few.

I tried contacting @hybridgroup and @strongloop-forks about licensing info of their changes (they made quite a few, albeit many of them quite their-company-specific), but unfortunately there was no response.

I would be wil

[2015-08-26 21:51] jtnelson commented on #111
With respect to versioned CLAs, I would like to eventually do some refactoring and use Concourse, the database I maintain (see https://github.com/cinchapi/concourse) as the backing store. Concourse natively versions data, so we would get CLA editing, versioning and diffing for free. We'd also be able to expose a lot of nice analytics features for users so they can see more in depth information abo

[2015-08-26 22:25] #114 closed

[2015-08-27 02:01] bostjan commented on #111
Excellent, I hardly wait to see the demo :+1:

[2015-08-28 00:54] Marak opened #115 "Github Permissions / Why were Github OAuth access roles changed?"
Tried to log into the app today and was greeted with an updated Github access settings.

The app is now requesting a bunch of new permissions. Are these new permissions actually necessary?

<img src="http://i.imgur.com/ZZkiqec.png"/>

[2015-09-17 18:26] LukePulverenti commented on #53
Same issue here. can I send you our new cla so that it can be updated? thanks.

[2015-11-11 02:54] bkerensa commented on #111
@jasonm Any new maintainer going to take this over? Our project just started to use this but dont want to continue on with it if there is a chance of it going offline.

[2015-11-11 16:07] damtur commented on #38
@jasonm Can you please add a link to that

[2015-11-18 14:06] ekpaulson commented on #111
Hi, I was thinking about using clahub for our project, but the lack of a motivated maintainer is worrisome. I'm not interested in becoming a maintainer myself, however, as far as the hosting fee is concerned, perhaps you could contact OSU's Open Source Lab -- they provide free hosting for open source projects.  I have never contacted them myself, but I would hate to see you shut down the site or h

[2015-12-09 05:45] kevinmickey commented on #56
As a potential contributor to https://github.com/SpiderOak/Encryptr/, I got the same error after submitting my info at https://www.clahub.com/agreements/devgeeks/Encryptr.

CLAHub Signatures does have permission for Public Access to my Github profile.

[2015-12-23 12:02] amlawalajuma opened #117 "alhassan mohammed lawal"
i believe with clahub i will make it

[2015-12-23 12:20] amlawalajuma commented on #117
[Account details ALHASSAN.docx](https://github.com/clahub/clahub/files/70743/Account.details.ALHASSAN.docx)

[2015-12-24 22:56] mdsitton commented on #117
thats probably not something you should post on github...

[2015-12-30 04:09] #117 closed

[2015-12-30 04:09] jasonm commented on #117
Closed & removed spam attachment file

[2016-01-11 17:34] phenomax commented on #92
+1
Could someone please fix this problem?

[2016-01-18 14:55] niemyjski commented on #113
I'm getting this as well: https://github.com/exceptionless/Exceptionless.Net/pull/67

[2016-01-27 13:48] dileping commented on #111
Hi! are you still looking for a new maintainer?

[2016-02-15 20:21] niemyjski commented on #113
Is anyone looking into this?

[2016-02-17 19:59] sanecito commented on #111
Any status update?

[2016-02-26 07:25] Marak commented on #115
Still the same issue.

Cannot use the service anymore with these new invasive oauth roles.

:-1:

[2016-03-14 03:24] jasonm commented on #111
Hi all,

I'd like to extend my sincere thanks for your support.  Particular thanks to the several individuals who have volunteered to maintain CLAhub both on this thread and elsewhere.

I am excited to share that the[ Berkman Center for Internet and Society at Harvard University](https://cyber.law.harvard.edu/) @berkmancenter has volunteered to maintain CLAhub.

Their initial work has been to revi

[2016-03-14 03:52] mdsitton commented on #111
Thats awesome news. I've been wanting to use clahub for a long time now, but have been avoiding because of the maintenance issues. Hopefully stuff started to get fixed.

[2016-03-14 16:16] genevec commented on #111
Hi everyone -- Berkman here. We're excited to start looking at the code. Don't mind us over the next few weeks as we start investigating things, closing out issues, and tagging other stuff for further work. :blush:

[2016-03-14 16:21] genevec commented on #17
Yup. Closing! See #101.

[2016-03-14 16:21] #17 closed

[2016-03-14 16:25] genevec commented on #54
Closing! See #101

[2016-03-14 16:25] #54 closed

[2016-03-14 16:25] #39 closed

[2016-03-15 21:06] kreynen commented on #111
Exciting news.  Might be worth updating the front page of "CLAhub is looking for a new maintainer and home. Please see #111." to "CLAhub has a new maintainer. Please see ???."

[2016-03-23 20:27] mzagaja commented on #115
Hi @Marak,

I looked into this and it appears that this was a result of #101 which actually made the permissions CLAhub requested less permissive than the previous iteration. If you think there are permissions that CLAHub doesn't need after reviewing that pull request let me know what you think the scope should be, and also feel free to submit your own pull request if you can get them working on y

[2016-04-05 13:01] jcarsique commented on #53
Hi,
Could you please delete the CLA on https://github.com/nuxeo-sandbox/nuxeo-pullrequest ?
I want to register a different text with another user.
Thanks

[2016-04-07 02:42] hipersayanX commented on #95
Same here, when i want to delete an a agreement it give me the message:

[2016-04-28 19:46] mzagaja commented on #113
I have not been able to replicate this in production or on my development instance. Can you provide a more detailed example including what you entered into each box and what repo/CLA it was with? is this on your own instance or is it using the CLAHub one?

[2016-04-28 19:47] mzagaja commented on #115
Closing this since I we haven't received further feedback. Happy to continue the discussion if you wish to re-open this in the future.

[2016-04-28 19:47] #115 closed

[2016-04-28 20:19] mzagaja commented on #113
Hi @niemyjski I just tried signing the CLA using the production instance of CLAHub and did not receive the error. Let me know if this persists, and if so let me know the exact steps to reproduce.

[2016-04-28 20:39] mzagaja commented on #95
This issue does not reproduce in my dev instance so will put it on the docket for production.

[2016-04-29 15:01] mzagaja commented on #83
After further investigation it appears this was implemented in https://github.com/clahub/clahub/commit/1681b170e93d74d3d2e398f7e953645d46beeb2b so I'm going to close this.

[2016-04-29 15:01] #83 closed

[2016-05-02 04:43] rnicholus opened #121 "Can't delete or create a new CLA"
I went to create a CLA, and realized that I already have one (probably from a couple years back). However, it doesn't appear to be working. So, I attempted to delete the CLA in order to re-create, but that failed with an error. Repo is FineUploader/fine-uploader. Can you clear my account so I can start over?

[2016-05-03 15:32] mzagaja commented on #121
Can you clarify what you mean by not working? Maybe paste a copy of the error message? If possible I'd prefer to fix the bug so it works for everyone going forward. However I can delete the agreement if you'd like, but please note this will be a destructive operation so I'd recommend an export of a copy of signees somewhere first.

[2016-05-03 16:05] rnicholus commented on #121
I am under the assumption that clahub will tag new PRs depending on the CLA status of the committer. That isn't currently happening. If this can be fixed without deleting/re-creating my CLA, that would be great.

[2016-05-03 20:44] mzagaja commented on #121
Yeah I don't see any hooks on your end:

[code]
Since it's an issue with the hook I do think it'll have to be recreated so I'll delete it for you.

[2016-05-03 20:54] mzagaja commented on #121
Actually going to slate this for tomorrow as I need to make sure I appropriately backup database state and have it ready for rollback before I go ahead and do that edit. I'll comment again when it is set.

[2016-05-03 21:18] rnicholus commented on #121
Thanks for the quick response and for donating your time to this project.

[2016-05-04 15:15] mzagaja commented on #121
Ok I deleted the agreement itself but left the orphaned signatures in the DB. Given that signatures link to an agreement_id and user_id I don't believe this should cause any issues, but you might want to have someone test signing it. I also may be able to manually update the signatures from the old agreement id to the new one after you create the new agreement if you'd like to test doing that as w

[2016-05-04 15:49] rnicholus commented on #121
Seems to work. Thanks! If you _could_ update this new CLA for FineUploader/fine-uploader with the old signatures, that would be great!

[2016-05-04 18:10] mzagaja commented on #121
I'm forced to confess here that I didn't actually run a SELECT in the DB to see if there were old signatures when I made that previous offer and merely presumed that they weren't deleted since I was manipulating the DB directly and not touching that table. However it appears that the database had been cleared of those signatures, my guess, based on the app code, is this occurred when you attempted

[2016-05-04 18:10] #121 closed

[2016-05-04 18:19] mzagaja opened #122 "Deleting an Agreement Fails if Webhook is Manually Deleted"
If a user deletes their web hook manually from their repo then CLAHub gives an error if they later try to delete their repo. CLAHub should just delete the agreement if there is no web hook.

[2016-05-04 18:28] mzagaja commented on #110
Production says the user signed the agreement on 5/19/2015 so I'm going to close this since this is no longer a usable test case that I can investigate. If it happens again please feel free to open a new bug with a live test case like you did with this one.

[2016-05-04 18:28] #110 closed

[2016-05-04 18:37] mzagaja commented on #95
Hi @teleyinex and @hipersayanX can you let me know what repo the agreement is for that you are trying to delete, and if it currently has a web hook listed in the repo "Settings --> Webhooks and Services" section? It may be related to this bug I identified from another test case: https://github.com/clahub/clahub/issues/122

[2016-05-04 18:43] hipersayanX commented on #95
Hi, i have moved a personal repository to an organization, and then tried to delete the associated agreement and re-upload for the new repository, and then i had that error. I don't remember if i deleted the hooks before or after, but most probably after.

[2016-05-04 18:54] rnicholus commented on #121
No problem. Thanks for your help!

[2016-05-04 18:57] mzagaja commented on #95
Ok if you give me the URL of the organization I can manually delete it from the DB and then you should be able to re-create the agreement.

[2016-05-04 19:00] hipersayanX commented on #95
The original repository was [this](https://github.com/hipersayanX/webcamoid/) and the new repository is [this](https://github.com/webcamoid/webcamoid/)

[2016-05-04 19:29] mzagaja commented on #95
Ok it is deleted you can try re-creating it now. Let me know if you have any further trouble.

[2016-05-04 20:49] mzagaja commented on #34
This should be resolved by #123. After digging into things it appears that changing the repo owner does not require change on the Github side, but I believe that if a repo changes an owner on the GitHub side then it will break on the CLAHub side until the agreement is transferred.

[2016-05-06 03:15] rnicholus commented on #113
I'm seeing this as well. Just received a "Sorry but something went wrong" when I tried to sign [the CLA at FineUploader/modern-uploader](https://www.clahub.com/agreements/FineUploader/modern-uploader).

[2016-05-06 15:31] rnicholus commented on #113
The repo_hook page is returning a 404. I'm guessing everyone's CLAs are broken as a result.

[2016-05-06 16:23] mzagaja commented on #113
It looks like it is getting a 404 from GitHub API for some reason:
[code]
I tested with a new CLA I created with my account and it worked fine. Going to try and dig into this further.

[2016-05-06 16:59] rnicholus commented on #113
This is also affecting GitHub branch protection and status reporting in PRs, as the endpoint that reports the CLA status is not returning any info either.

[2016-05-13 20:19] mzagaja commented on #113
I tested this today and was able to sign the modern-uploader CLA without issue. I am struggling to reproduce this bug as while I see the 404 in my logs. I see a bunch of these POSTs 404 in the logs but when I manually GET the statuses they do not return a 404. A spot check of some of the 404s that occur in the logs dated today do not give me any errors locally:

[code]

Our current theory is there

[2016-05-16 14:12] mzagaja commented on #113
After investigating these further I believe this is an issue with OAuth Scopes. If I call a GET to https://api.github.com/repos/FineUploader/modern-uploader/commits/63088858aa38ce6f892ab45d1b514aca79ac016a/statuses with your OAuth token I get the following headers returned:

[code]

You'll see that your API token lacks any OAuth Scopes in the header that is returned. Spot checking the other 404s i

[2016-05-16 14:15] mzagaja commented on #109
Going to close this as stale since I do not have logs from 2015 to do any diagnostics and I do not see any recent log entries from these projects there. If this issue re-appears please feel free to open a new issue.

[2016-05-16 14:15] #109 closed

[2016-05-16 15:07] mzagaja commented on #108
Hi @kermie is this still an active issue? After becoming familiar with the code base I don't see any obvious reasons there would be a delay in POSTing. The code base does not use any task runners (sidekiq, etc. though maybe a good idea in the future) so it should either update GitHub or fail (though maybe GitHub re-fires the web hook if it fails?).

[2016-05-16 15:09] mzagaja commented on #113
Also it maybe helpful to post information on what response you got to the web hook event from CLAHub from your end. See https://developer.github.com/webhooks/testing/

[2016-05-16 15:11] mzagaja commented on #122
Should be fixed in #124

[2016-05-16 15:14] mzagaja commented on #105
Is this still an active issue? I checked the logs and JSHint seems to be working in there and the latest Pull Request looks like it successfully checked the CLA.

[2016-05-16 15:15] #95 closed

[2016-05-16 15:20] mzagaja commented on #113
Another potential source of this issue is it may be related to https://github.com/jquery/jquery-license/issues/23. Seems like sometimes the web hook fires before the PR is created. I'm leaning towards getting a task runner into the app to make it more resilient.

[2016-05-17 07:39] kermie commented on #108
Thanks for your reply @mzagaja . In the mean time we had to switch to another system for checking the CLAs, so I can't answer your question whether the effect still appears or not. Thanks anyway!

[2016-05-17 12:59] mzagaja commented on #108
No problem, just want to make sure.

[2016-05-17 12:59] #108 closed

[2016-05-17 16:18] tamird commented on #105
https://github.com/cockroachdb/cockroach is still affected as of this writing.

[2016-05-17 17:30] mzagaja commented on #105
Hi @tamird please try the following steps (or have whomever setup cockroach do so):

1. Go to https://github.com/settings/applications
2. Revoke access to clahub
3. Go to http://www.clahub.com/ and click "sign out" if you are already signed in.
4. Go to http://www.clahub.com/ and sign in to clahub
5. Grant it the appropriate GitHub permissions
6. Try submitting a new pull request to see if it work

[2016-05-17 17:31] tamird commented on #105
Turns out we're not actually using clahub anymore, and simply neglected to delete the webhook. Consider my comment moot.

[2016-05-17 17:33] mzagaja commented on #105
No worries. From my end it looked like there were not appropriate permissions so someone must have started the removal process but did not finish.

[2016-05-17 17:43] tamird commented on #105
Sounds about right. Might be worth improving the returned error for the
future.

On Tue, May 17, 2016 at 1:33 PM, Matthew Zagaja <notifications@github.com>
wrote:

[2016-05-18 18:29] mzagaja commented on #111
Closing this issue since I've been doing lots of clean-up and it should still be accessible for historical purposes. If anyone has specific issues feel free to chime in on other relevant issues or to open your own issue.

[2016-05-18 18:29] #111 closed

[2016-05-18 18:43] #105 closed

[2016-05-23 16:02] mzagaja commented on #59
Closing this since it appears HTTPS is working.

[2016-05-23 16:02] #59 closed

[2016-05-23 20:35] mzagaja commented on #89
After reading the code and testing it on a repo I don't think this bug is still in the code base (if it existed) as I set my GitHub e-mail to private and submitted a PR to one of my repos and had no issue passing. I also set the e-mail I signed with to a non-GitHub e-mail and it still passed. So going to close as non-reproducible. If this persists in another scenario I'm happy to re-visit.

[2016-05-23 20:35] #89 closed

[2016-05-23 20:38] mzagaja commented on #87
Currently the only way to do this effectively would be to delete and re-create your agreement. However I can look into adding a feature that gives a button to recreate the web hook.

[2016-05-25 18:49] #122 closed

[2016-06-02 01:12] camlorn opened #128 "Add option to e-mail list of signers as CSV"
I'm considering CLAHub for my project now that CLAHub has a new maintainer, but I want to be absolutely certain that I always have an up to date list of CLA signatures.  To that end, it would be greatly helpful if we could e-mail the full list every time someone new signs.

I think it is important that this be the full list, probably as an attachment in CSV.  I don't want to have to manually put t

[2016-06-02 15:49] mzagaja commented on #128
Thanks for the feedback. I worry that this approach could get unwieldy on many fronts both in the e-mail department and ever escalating file sizes, especially for large projects. The standard best practice is usually to have a receipt mechanism for each submitter that goes to an e-mail and I do not think adding that in would be terribly difficult to do (famous last words). However if the concern i

[2016-06-02 18:41] mzagaja opened #129 "Transfer and Delete Agreement Tests Intermittently Fail"
Occasionally when running the test suite the following two tests fail for no apparent reason:

[code]

They potentially need to be modified to not run until other dependent tests run or use some kind of sleep command to run more reliably.

[2016-06-02 19:11] mzagaja opened #130 "Update Tests for RSpec 3"
When updating to 2.99 the following deprecation warnings present themselves and will need to be addressed before moving up:

- [ ] Using `with` without arguments is deprecated. Use `with(no_args)` instead. Called from /Users/mzagaja/GitHub/clahub/spec/models/signature_spec.rb:19:in `block (2 levels) in <top (required)>'.
Using `with` without arguments is deprecated. Use `with(no_args)` instead. Ca

[2016-06-02 20:18] camlorn commented on #128
Integrating with a Google Drive spreadsheet might work, yes.

Something like [Mailgun](https://www.mailgun.com/) would be able to handle the e-mailing side of it.  If we assume 200 characters per line and 1000 users, that's only 100kb.  It hasn't even been zipped yet.  How many projects actually have more than a thousand contributors?

I'm not a legal expert.  I'm just an individual who wants a CL

[2016-06-10 17:14] junghans opened #132 "Cannot delete agreement"
I was trying to remove https://www.clahub.com/agreements/losalamos/flecsi, but got:
[code]

[2016-06-13 22:05] ThorstenBux opened #133 "CLA-Hub integration not working"
Hello all,

I tried to integrate CLA hub into several projects but somehow it does not accept the CLA signing.

You can have a look here:
https://github.com/ThorstenBux/Testing
Change a file and open a pull request. For me it always shows CLA not signed even though I signed it.
You can see this here:
ThorstenBux/Testing#5

Thanks for your support
Thorsten

[2016-06-14 14:26] mzagaja commented on #133
When I look in the logs it appears as if that there is a contributor that hasn't signed a PR

[code]

When I attempted to test a pull request from me (to see if there might be a specific issue with your git commits that I need to debug) it didn't run CLAHub. See https://github.com/ThorstenBux/Testing/pull/7 Did you disable the integration?

[2016-06-15 01:36] ThorstenBux commented on #133
Hm, that is strange. No I didn't remove CLAHub in fact I can see that you have signed that agreement. However, you are right CLAHub is not shown within the PR checks.

<img width="745" alt="screen shot 2016-06-15 at 1 35 13 pm" src="https://cloud.githubusercontent.com/assets/16772796/16065360/250b7dde-32fe-11e6-9320-70167a0c1370.png">

[2016-06-15 13:02] h-2 opened #134 "Not working since 2016-06-08"
We have setup clahub with seqan/seqan and it worked fine until June, 8th, see e.g.:
https://github.com/seqan/seqan/pull/1727
Now, it doesn't work anymore:
https://github.com/seqan/seqan/pull/1734

If I look at
https://github.com/seqan/seqan/settings/hooks/8570369#delivery-response
(probably not accessible to you)
I see that until 2016-06-07 all delivery-responses are green, but after that all are

[2016-06-15 19:10] mzagaja commented on #134
According the logs the hook URL is getting a 404 from GitHub. I do not see the check for the pull request in the repo, so it appears to me as if you may have deleted the repo hook. I saw something similar in #133 so I'm now investigating if GitHub changed something that caused this to happen.

[2016-06-15 19:26] mzagaja commented on #133
If you go into the repo settings is clahub still listed under repo hooks?

[2016-06-15 19:27] mzagaja commented on #134
Also if you look at the list of available repo hooks at the top, is the CLAHub repo hook still listed? Can you attach a screen shot of the setting page for repo hooks?

[2016-06-15 19:47] mzagaja commented on #132
I manually deleted it. Sorry about that.

[2016-06-15 19:47] #132 closed

[2016-06-15 22:18] ThorstenBux commented on #133
No it isn't that shows why it isn't working.

I have created a new one here https://github.com/ThorstenBux/CLAHub.
Same issue:
- I create a PR
- I sign the CLA
- It still fails

In this repo the web hook is there:

<img width="1035" alt="screen shot 2016-06-16 at 10 17 17 am" src="https://cloud.githubusercontent.com/assets/16772796/16099278/8ef99930-33ab-11e6-98d5-c0e18d4bdf0f.png">

[2016-06-16 14:31] mzagaja commented on #133
[code]

Hmm it is weirdly saying you didn't sign even though you did. I'm also getting when I do my own pull request the following:

[code]
I will continue to investigate the source of our mystery signer that is failing. One theory I have is that it might not be properly parsing the dots in your e-mail and that's throwing it off.

[2016-06-16 18:35] PavelKovalets commented on #134
Same issue for me - [k52 project](https://github.com/PavelKovalets/k52). But some of the deliveries are green, but most are red. Same 500 error.

[2016-06-16 19:16] mzagaja commented on #134
@PavelKovalets I don't see a CLA repo hook check in the latest pull request: http://cl.ly/2B3k2e2r2r3g. On my end I'm receiving a 404 error when we attempt to POST the results:

[code]

Can you post a screenshot of the repo hook page on your end showing it present? Also if you can show the detailed repo hook error message that'd maybe help with debugging too.

[2016-06-16 19:35] h-2 commented on #134
![1st](https://cloud.githubusercontent.com/assets/2996863/16130583/405793cc-340a-11e6-9659-f10bd3e58ee0.png)
![2nd](https://cloud.githubusercontent.com/assets/2996863/16130584/4081950a-340a-11e6-8ad5-42b300c43c7a.png)
![2th](https://cloud.githubusercontent.com/assets/2996863/16130585/4081d362-340a-11e6-82aa-6c1fb34b3be3.png)
![3rd](https://cloud.githubusercontent.com/assets/2996863/16130586/4084cf

[2016-06-16 19:36] h-2 commented on #134
Thanks for your help!

[2016-06-16 20:19] mzagaja commented on #134
@h-2 Check and see if CLAHub is listed in your "authorized applications" page in your settings OAuth applications page. When I send a curl request and look at the headers for the auth token clahub is using for your user it is suggesting it lacks appropriate permissions:

[code]

I'd expect:

[code]

Maybe try revoking CLAHub from the OAuth page and then signing back in to generate a new token?

[2016-06-16 21:25] h-2 commented on #134
It's not listed with the organisation, but I didn't change anything there. Neither initially, nor in the last days. Can you tell me what I need to enter in the registration form? Thanks!

[2016-06-16 21:42] h-2 commented on #134
Actually, now it lists the applications, weird:
![5th](https://cloud.githubusercontent.com/assets/2996863/16134169/053376f0-341c-11e6-8a50-6550f9c6a359.png)

[2016-06-17 06:32] PavelKovalets commented on #134
@mzagaja the CLA check is definitely missing, and I suppose it is connected with the same issue @h-2 faced.

Here is the screenshot of my repo hook page where CLA hook is marked as having an 500 error.
![2016-06-17_09-10-28](https://cloud.githubusercontent.com/assets/1640573/16142117/6ab32d28-346b-11e6-9267-e33931ff317b.png)

Here is the detailed list of errors (with some successful deliveries tho

[2016-06-17 14:23] mzagaja commented on #134
@PavelKovalets thanks for your detailed debugging information on this, it does seem to suggest an authorization issue. I have also determined that the "fail" state of the web hook is to just not display the status on the pull request (if it gets a 500 or 404 response). It only displays the CLAHub status if it receives an affirmative or negative response from CLAHub.

@h-2 The OAuth token is typica

[2016-06-17 20:56] mzagaja commented on #134
I wrote a script to check the status of all the OAuth tokens in the database for users associated with agreements. Spot checking others that don't work seem to reveal that we have a bunch of users whose OAuth tokens lack permissions in a couple different ways:

[code]

[code]

[code]

My working theory is that for some users you can become logged out after creating a repo agreement, log back in to

[2016-06-19 16:40] jugglinmike opened #135 "Feature Request: Accept commits committed by GitHub.com"
When GitHub.com users author commits through the GitHub interface, the
resultant commit lists their identity as the commit author, but it lists the
committer as `GitHub <noreply@github.com>`. This interferes with the CLA
verification process because that e-mail address will not appear in any
signature databases.

Since the basic behavior is semantically accurate and definitely intentional,
it seem

[2016-06-19 16:41] jugglinmike commented on #112
There's another use-case for this functionality: accepting commits authored
through the GitHub interface. Since there are other ways to address that
problem, I've opened a separate issue to discuss it: gh-135

[2016-06-20 15:15] mzagaja commented on #135
Oh, I think/wonder if this might be the same issue we're facing in #133 that I haven't pinned down yet. A potential third path forward might be to constrain CLAHub to looking at the author as opposed to the committer.

[2016-06-20 18:22] h-2 commented on #134
Yep, that was what confused me. I guess it always was at my user's setting and is unrelated to the organization.

[2016-06-22 14:02] mzagaja commented on #135
We have decided the path forward is to whitelist the GitHub.com contributor (though the author will still have to have signed the CLA for the status to be "green"). I am going to code a fix to be deployed.

[2016-06-24 18:01] elbenfreund opened #137 "[Question] Proof of CLA"
hello community,

please excuse if this is the wrong place to raise the issue, but I was wondering what sort of actual proof ``clahub`` to be presented in front a court of law if it ever comes down to it. Is there any actual signing procedure and/or a way to extract a signed pdf?

Thank you for your effort and contributions: Eric.

[2016-06-27 13:53] h-2 commented on #134
Now it is broken for us again, there really seem to be some fundamental problems somewhere :(

[2016-06-27 16:32] samus-aran commented on #134
Just also to confirm we are also having issues with our integration too.  Just to ask, following the comments in this, that the user creating the CLA - is that the original user whom authenticated the app?  Do they need to do anything to re-active anything i.e. whats the best way to troubleshoot this?  It doesn't fail on all our PRs, only a few users.

[2016-06-27 19:26] mzagaja commented on #134
@h-2 wondering if you did anything on 6/23 in CLAHub that might shed some light on this? I am seeing the limited OAuth scope again when I curl with your current OAuth token. Otherwise I may also escalate this to GitHub to see if something is happening on their end.

[2016-06-27 19:32] mzagaja commented on #134
@samus-aran The status web hook is tied to the original user who created the CLA. Their OAuth token is used to update the status of the pull request after the web hook hits CLAHub with the request. If it is only failing for certain users it might be a different issue than this one. If you let me know what repo(s) I should check I can look into the logs and see who is failing and then query the DB

[2016-06-27 20:27] samus-aran commented on #134
Hi @mzagaja. Thanks for the response. The repo in question is this one. https://github.com/salesagility/SuiteCRM
When I mean a few users it all seem to be external users i.e not ones associated to the organisations.

Here are a couple of the users (and PRs) having the issue.
https://github.com/salesagility/SuiteCRM/pull/1658

[2016-06-27 21:17] mzagaja commented on #134
Happy to help!

salesagility/SuiteCRM#1616 is not present in the CLAHub logs and might work if you re-trigger the web hook from the web interface

salesagility/SuiteCRM#1654 presents itself like #135 in the logs and will likely be resolved once my pull request is accepted and deployed
[code]

salesagility/SuiteCRM#1658 also presents itself like #135
[code]

But it is weird that it lists the user t

[2016-06-27 21:34] pgorod commented on #134
@mzagaja Hi, I'm the user from 1654 and I did everything from Github's web interface. I had signed the agreement before; but then (I believe) we were all supposed to sign it again; so when I made that PR the check failed, so I tried signing it again and I clicked the "sign" button, it turned into a message "you have already signed the agreement", but the check on the PR never changed to "passed".

[2016-06-28 14:04] mzagaja commented on #134
Hi @pgorod thanks for the information. Currently the way CLAHub and GitHub are setup pull requests made with commits from the web interface will not pass because GitHub sets the committer to be GitHub itself instead of you (although the author information is correct) and CLA Hub checks whether both of these fields match a signed user. I submitted a fix for this issue but until it can be deployed t

[2016-06-29 22:37] ferventcoder commented on #134
I'm also seeing this issue (unknown since when). I turned on 2FA recently, but all of my other authorized apps are still working appropriately.

[2016-07-01 10:01] h-2 commented on #134
@mzagaja It still breaks regularly for us. If I revoke the auth and re-issue, it works again, but the next day it is broken :sob:
Also some of our users seem to have signed the cla multiple times for some reason. I guess this shouldn't be possible...

[2016-07-04 23:17] bkerensa commented on #134
We are having the same issue as described above and could really use a fix for this ASAP as we are blocking merges until we can get our CLA signed by new contributors so this is holding up our project and release cycle unfortunately.

[2016-07-04 23:56] mzagaja commented on #134
Hi guys, tanks for hanging in with me on this. In regards to the issue around web commits I will nudge my team about getting these reviewed and deployed tomorrow afternoon. As far as the larger issue with GitHub my plan for tomorrow is the following:

1. Review the logs to see if there is any indication of why the OAuth tokens are being changed or having their permissions revoked.

2. Create addit

[2016-07-05 21:19] mzagaja commented on #134
In regards to 1 there is currently not much in the logs to indicate why this occurs. However looking at the user.rb file it appears to me as if find_or_create_by is generating a new oauth token every time a user logs in and this might be part of the issue. I submitted #138 to up the log levels in production so I can get a more granular sense of what is occurring, and once that is deployed I will p

[2016-07-12 18:47] ferventcoder commented on #134
Deleting and readding the authorized applications from https://github.com/clahub/clahub/issues/134#issuecomment-226691011 is allowing me to redeliver successfully.

[2016-07-16 08:53] henrikekblad opened #140 "Renamed Repository"
Hi,

We renamed a repository and wonder if there is something we need to do to make the CLAhub to continue work (with the previous list of signed contributors)?

https://github.com/mysensors/Arduino -> https://github.com/mysensors/MySensors

[2016-07-19 20:43] mzagaja commented on #140
I updated the repo_name in the database manually as a temporary fix. You may have to re-trigger the repohooks for it to work. If you try a new pull request and it is still broken let me know and I'll investigate further.

[2016-07-21 19:25] henrikekblad commented on #140
I've re-triggered hook but we get a 500 error response.

Anything I can provide to help you debug the issue?

[2016-07-22 16:45] mzagaja commented on #140
Hi @henrikekblad it looks like your auth token doesn't have the appropriate scopes. Try deleting and re-adding CLAHub as an authorized application and then re-send the repo hook (see https://github.com/clahub/clahub/issues/134#issuecomment-232142043). Also please remember to update your CONTRIBUTING.md to point to the updated agreement for the users.

[2016-07-22 18:23] henrikekblad commented on #140
Delete + re-adding did the trick. Thanks for all the help @mzagaja!

[2016-07-22 18:23] #140 closed

[2016-08-08 08:15] mitar commented on #82
Duplicate of #61?

[2016-08-08 08:15] mitar commented on #61
Duplicate of #82?

[2016-08-08 08:16] mitar commented on #70
It works for me?

[2016-08-08 08:21] mitar opened #141 "CLAHub passes despite one of commits is authored by a person who has not signed CLA"
I just added CLAHub to [my project](https://github.com/peer/mind) and I see that it passed on the pull request where there is also a person who has not signed a CLA:

![screen shot 2016-08-08 at 1 19 49 am](https://cloud.githubusercontent.com/assets/585279/17473618/3dc98cb2-5d06-11e6-865b-f0087457402a.png)

![screen shot 2016-08-08 at 1 20 18 am](https://cloud.githubusercontent.com/assets/585279/1

[2016-08-08 08:24] mitar commented on #141
What is this. CLAHub just now switched to red. Without me doing anything.

![screen shot 2016-08-08 at 1 22 09 am](https://cloud.githubusercontent.com/assets/585279/17473718/d393d0a4-5d06-11e6-94ab-ce6bb71126f6.png)

[2016-08-08 08:24] mitar commented on #141
Oh, somebody else signed CLA in this moment, triggering rechecking here or what?

But this still means that this pull requests looked OK for some time, despite not being OK?

[2016-08-08 13:54] briantopping commented on #61
Aren't duplicates considered in chronological order?

[2016-08-08 17:15] mitar commented on #61
Not always. The other issue have more information and more participation. But I marked both as duplicates and I am leaving to maintainers to decide.

[2016-08-08 17:47] mzagaja commented on #141
This is weird to me because the logs indicate that CLAHub saw it as failing:

[code]
I don't have sufficient logging detail to be able to know what it sent outbound at the moment. Once I'm able to push an update to get that detail I will try and see if we can reproduce this.

[2016-08-08 17:58] mitar commented on #141
There should be two pushes, are there two?

Maybe if there is no push, for a new pull request, it defaults to green? So that pull request already existed with all those commits when I started adding CLAHub. I added CLAHub and then I went to the pull request and it was green. Then it seems one other contributor signed the CLA (for another pull request) and it rerun this pull request as well? Is thi

[2016-08-08 18:04] mitar opened #142 "Integrate with Harmony CLA templates"
It would be great that CLAHub would integrate with [Harmony templates](http://harmonyagreements.org/). So that when you decide to add CLA, you can add your custom text, or you go through a wizard asking you questions which then generate a Harmony-based CLA.

[2016-08-08 18:05] mitar commented on #142
Maybe also some other CLAs could be turned into templates (like Apache CLA).

[2016-08-08 18:29] mzagaja commented on #141
There was a push that succeeded after that according to the logs:
[code]

I actually have a whole bunch logged:

[code]
I have logging that tells me if CLAHub thinks it succeeded or failed on each one if you want me to dig into any specific one of these, along with the payload from the web hook, but just not logging on what the outbound POST request was.

[2016-08-08 19:05] #135 closed

[2016-08-08 19:49] mitar commented on #141
So I care about checks which include [this commit](https://github.com/peer/mind/pull/131/commits/4f458970f2eaec74fdd1cf2f4bed9e48da35d6d3). They should all fail. Do your logging tells that any succeeded?

Anyway, strange. :-) If I can be of some help, tell me. I will try to see if it happens again.

[2016-08-12 19:13] mzagaja commented on #134
The change mentioned in https://github.com/clahub/clahub/issues/134#issuecomment-230606429 was just deployed. I will keep an eye out on this and should be able to better debug going forward.

[2016-08-12 19:17] mzagaja commented on #141
I finally got the deploys working again (there was a Heroku upgrade I had to make some changes for). My logging for the commit you linked to all says that they failed on CLAHubs end which is apparently a mismatch between what the logs say and what might have been POSTed to status, so I think the next step on my end is to try and log and debug the outbound POST request. I will try and deploy an upd

[2016-08-15 21:34] Paebbels opened #143 "Can ClaHub provide a shield?"
Hello,

[cla-assistant.io](https://cla-assistant.io) offers a Shield for how many contributors have signed a CLA.
Can you provide such shield, too?

![](https://cla-assistant.io/readme/badge/Paebbels/PoC)

Kind regards
    Patrick

[2016-08-17 16:34] mzagaja commented on #141
Ok after looking at things I'm not sure there is additional logging I can use to debug this, as the logging that is present should print whether the commit passed or failed before it POSTs that status to GitHub. I was unable to reproduce this in another repo. If you can reproduce this with another repo or pull request let me know. Otherwise I am content to blame it on a fluke from GitHub for now.

[2016-08-17 17:46] mitar commented on #141
OK. I also think it was some type of a fluke. I think we should close this for now and if somebody else will have another example later on they can comment here and we could reopen.

[2016-08-17 18:01] #141 closed

[2016-08-23 13:51] mitar opened #144 "Webhook calls from GitHub are failing"
I see in GitHub logs that webhooks which GitHub has been making towards clahub has been failing with 500 error since August 19.

[2016-08-23 15:59] mzagaja commented on #144
Taking advantage of our new logging I deployed I can see you were issued an updated OAuth token on August 20th at 01:18 UTC after which CLAHub's POSTs to GitHub for peer/mind started failing. I also have just tested and confirmed that anytime you login to GitHub from CLAHub you will be issued a new OAuth token. The issue arises under the following reproducible scenario:

1. Sign-in to GitHub and s

[2016-08-23 18:09] mitar commented on #144
Oh, this is amazing research! It seems really so.

[2016-08-24 15:09] #144 closed

[2016-09-04 16:52] Vampire commented on #70
I don't know, this was 2 years ago.

[2016-09-07 09:35] h-2 commented on #134
Why was this issue closed? It still keeps breaking on us in more than 50% of the cases where someone makes a PR.... We will have to deactivate clahub for now, since it is not feasible for us to always deactivate and reactivate the integration.

[2016-09-07 13:37] mzagaja commented on #134
Hi @h-2, This was closed because I thought I had identified the issue and resolved it in #145. Given that the database claims that your last given OAuth token was issued on 8-12-2016, before the fix was deployed, if you follow the procedure in https://github.com/clahub/clahub/issues/144#issuecomment-241783160 CLAHub should work fine for you going forward. If you continue to have issues after getti

[2016-09-07 17:30] h-2 commented on #134
Thanks for your response! I have revoked and regranted access for Clahub, but somehow it doesn't reappear in my organization. I just created this:
https://github.com/seqan/seqan/pull/1851
And it's not there.

These are by settings:
![screenshot](https://cloud.githubusercontent.com/assets/2996863/18322146/784ee1f0-7531-11e6-8696-89d2c6f3680c.jpg)

Did I forget something?

[2016-09-07 18:32] h-2 commented on #134
Note that this is not the same problem as before, before it was always no problem to re-setup the integration, it was just a problem that then hook failed sometime.

Now, it seems difficult to resetup the integration with the organization, but maybe I just did it wrong somehow? As seen in the screenshot it is visible in my user profile under "OAuth applications", but it is not visible under the or

[2016-09-07 20:19] mzagaja commented on #134
@h-2 I would not expect CLAHub to appear for your organization, it attaches it authorization to a specific user. Your user should be able to add a GitHub web hook to an organization repo. You should also see the GitHub repohook in the repo settings in "web hooks and services" where you should be able to now re-trigger the missing repo hook so the status appears. If you deleted the integration then

[2016-09-07 21:49] h-2 commented on #134
Hm, now I have clicked "Upgrade Agreement" on clahub.com which transfarred the agreement from seqan/seqan to  h-2/seqan :open_mouth: And I can't seem to be able to transfer it back to the seqan organization, only to other users...
I could of course create a new CLA for seqan/seqan, but I would like to keep the signatures. Is there an easy solution to this?

[2016-09-08 14:19] mzagaja commented on #134
@h-2 If you create a new seqan CLA let me know and I should be able to update the signatories to point to the updated agreement.

[2016-09-12 10:53] h-2 commented on #134
@mzagaja I have just recreated the CLA for seqan/seqan, can you copy the signatures from h-2/seqan? Thank you very much!

I will keep you updated on how it works now.

[2016-09-13 15:34] mzagaja commented on #134
@h-2 Just updated it in the DB so it should work.

[2016-09-13 15:34] #134 closed

[2016-09-16 07:27] MTRNord opened #146 "Breaks greenkeeperio-bot"
Is there a way to add bot user as the owner of an project? Because at this point the Bot always says "breaks-build" because clahub gives an error

[2016-09-16 16:23] mzagaja commented on #146
Hi @MTRNord, thanks for your question. I am not familiar with greenkeeprio bot but as a general matter CLAHub requires a GitHub user account to be the owner of a project. If you can provide additional context around what greenkeeperio is trying to do and what specifically is blocking that, we can ascertain whether this is a bug or would be a new feature and how that feature would need to work. If

[2016-09-16 16:44] MTRNord commented on #146
So greenkeepio bot does update npm dependencies and generates pull requests for it. When there are Tests it changes the title. So because it can't accept the CLAHub texts it will always say "breaks build" which is not true. So my question or my feature request is to have the ability to except users by username, so that github and CLAHub things that for example "greenkeeperio-bot" signed the Licens

[2016-09-16 18:08] mzagaja commented on #146
Oh I see. So a quick code level fix might be to do something similar to https://github.com/clahub/clahub/pull/136. However it sounds like an ideal world we would abstract that into a list that users could populate with whatever code updating bots they decide to use (or we do it for them via a canonical list of all code updating bots). There are some legal/policy issues I'm going to dig into around

[2016-10-05 10:15] elbenfreund opened #147 "Allow optional dummy signatories"
If one uses clahub as a PR requirement automated bots (for example as provided by requires.io) that auto generate commits/PRs will taint the commit.
Would it be feasible to "whitelist" certain github username so that they appear as if they signed the CLA?

[2016-10-05 10:18] elbenfreund commented on #137
Is there any news on this? If this is the wrong place to ask, please let me know :)
Going through the effort of setting up a solid CLA policy seems a bit questionable if the only "evidence" that a user signed is the csv one can export.

[2016-10-05 18:23] mzagaja commented on #137
Hi @elbenfreund my suggestion would be that if you are worried about whether these records will be admitted in a court of law in your jurisdiction is to speak with your own counsel who will have specific knowledge of the rules of evidence in your jurisdiction and then feed any needs back to us in the form of a pull request with whatever the relevant feature is built out. On our end we are looking

[2016-10-05 18:23] #137 closed

[2016-10-05 18:25] mzagaja commented on #143
I haven't made a shield before and can put this in the queue for future development but am also open to anyone that wants to make a pull request with one. Maybe a good task for a first-time contributor that wants to learn how to do this.

[2016-10-06 07:16] elbenfreund commented on #137
Thank you for your reply, it is much appreciated. I want to stress that I am well aware that you "can not be my lawyer", and didn't expect you to. My question does neither refer to a particular jurisdiction or court setup but was of general nature. I wish to apologize if I gave the impression that I would seek legal counsel.

 Clearly CLAs are a tool to avoid and ultimately, if need be, settle (le

[2016-10-07 17:37] mzagaja commented on #137
Hi @elbenfreund, since we only took over this project recently I can't speak for the folks that worked on it before we started maintaining, but we are going to have our experts look into this issue over the next few weeks and then plan to provide resources about enforceability of online agreements that can help answer your questions. As far as the functionality goes, right now what you see is what

[2016-10-07 17:39] mzagaja commented on #147
Also requested in #146. This is "in the pipeline" but not in my near term docket. However I'm open to reviewing and accepting a pull request if anyone wants to tackle this issue.

[2016-10-11 12:43] elbenfreund commented on #147
Thank you for your feedback. Will close this one in favor of #146 then.

[2016-10-11 12:43] #147 closed

[2016-10-13 21:30] Paebbels commented on #143
Sorry, but I'm already involved in many time consuming open source projects. I can't spare the time to incorporate on how to add a shield to clahub.

I'm using http://shields.io/ for some static shields. They provide dynamic shields for websites with an API too.

[2016-10-13 23:57] mzagaja commented on #143
Cool, I didn't mean it specifically had to be you, but wanted to make sure other potential contributors that dropped by knew this could be a good way for them to help. I appreciate you dropping the hint on shields.io for them.

[2016-10-14 17:08] Paebbels commented on #143
I haven't a documentation on how to create own shields. Do you have an API to query the number of signed CLA for a given repository? If so one could ask fo support at shields.io or is it possible to create a redirect?

`clahub ..../api.php?repo=foo/bar` creates a HTTP redirect to the shield url which serves the image...

[2016-10-21 16:29] ejohn20 opened #148 "Error Setting up CLA integration"
After authorizing CLA hub access to my profile and the organization I'd like to set up a CLA for, the web site responds with an error message: We're sorry, but something went wrong.

This has happened a couple times, can someone contact me to troubleshoot?

[2016-10-21 19:37] ejohn20 commented on #148
Funny, just tried again and it seems to be working again ;) Chalk this one up to DDoS.

[2016-10-21 19:37] #148 closed

[2016-10-22 23:55] saxbophone opened #149 "Project owner should not need to sign CLA for status to pass"
I've just created a CLAHub integration for one of my projects.

This Pull Request https://github.com/saxbophone/libsaxbospiral/pull/109 is currently saying that **not all contributors have signed the CLA**, which of course is true as to-date, I am the only 'contributor'.

It seems rather silly that I'd have to sign an agreement to myself. I wonder if #107 would also cover this?

[2016-10-24 15:22] mzagaja commented on #149
The need for the project owner to sign the CLA is merely the incumbent position that the app took when it was written. I'm not sure what the rationale is behind it but am open to further community feedback on this issue, and on our end we're going to consult with our researchers to get a more nuanced understanding of what direction makes sense. If we decide to make a change I'll do it as a pull re

[2016-10-24 15:55] saxbophone commented on #149
Cool, thanks @mzagaja - I'm no legal expert so my opinion on this one may be incorrect, I'm only drawing the conclusion from my own common sense and nothing more :) Will await more info and watch this space 👍

[2016-10-29 13:22] elbenfreund commented on #137
Thank you very much for this most helpful answer. This indeed provides the solid feedback about 'what is there right now' and your general direction. I look forward to your experts findings and the resulting resources. Is there any particular communication channel that I should keep an eye on with regards to this?

Thanks again for your continuous work and maintaining the project.
Eric

[2016-10-29 13:37] mzagaja commented on #137
I will make sure to post an update to this thread and will probably add a page to the main CLAHub website. I checked in with the folks at the Cyberlaw Clinic earlier this week and they're still working on it. They're a fantastic resource and enthusiastic about this project, but also highly in demand.

[2016-11-03 23:45] strugee opened #150 "Detect renamed repositories automatically"
e14n/pump.io was renamed to pump-io/pump.io a little while back, so CLAHub isn't working. I don't have admin access to the CLAHub page so I'm not sure if pinging the organization owner will help, but either way it seems like this should have been detected automatically.

[2016-11-04 17:20] AndrewAnnex commented on #2
👍  on this issue,

for my MIT licensed project I want to either have a simple CLA or a DCO that is ideally one paged.

I have looked around and I cannot find anything simple that I can use as a CLA, the harmony agreement page is a good start but I feel that it doesn't explain the configurable options well. For example with CLA hub how would one host both the individual and corporate CLAs?

The thi

[2016-11-07 19:55] mzagaja commented on #2
FYI the Harvard Law School Cyberlaw Clinic is looking into this right now. Hoping to make some resources available after they've been appropriately researched.

[2016-11-07 19:57] mzagaja commented on #150
I'll accept this issue as a bug, since my general guess is that CLAHub should probably receive a redirect after the name change and be able to do something with it: https://developer.github.com/v3/#http-redirects

[2016-11-07 22:18] silviapfeiffer commented on #2
FYI in ended up opening a github organisation for our project and added a github repo with the CLA. Then I made everyone who contributes first provide a pull request with their name on it to that CLA repo, which covers all the other repos. Once accepted, all their PRs can be accepted anywhere on the other repos. This seemed the easiest approach to me.

[2016-11-08 00:48] strugee commented on #150
@mzagaja unrelated to this actual issue, do you see this:

![screen shot 2016-11-07 at 16 46 19](https://cloud.githubusercontent.com/assets/911174/20082315/cf81b3a0-a509-11e6-827f-6900ec262e7c.png)

on your end? Note the fact that I'm supposedly the assigner and the one who added the label (I'm assuming both actions were done by you?). I'm gonna email GitHub support either way, but I'm wondering i

[2016-11-08 14:56] mzagaja commented on #150
Looks like that on my end too, really strange because I was definitely the one that did that.

[2016-11-10 23:10] strugee commented on #150
@mzagaja filed isaacs/github#815

[2016-11-17 19:45] hismightiness opened #151 "CCLA Support"
Are there any plans to support CCLA's at any point, instead of just a CLA?

[2016-11-18 17:05] mzagaja commented on #151
I'm not familiar with CCLA, can you unpack that a little? On a general level I'm happy to accept pull requests with new features. Otherwise if there is demonstrated community need/want for them I can put them in my docket with the understanding that since I only have so much time budgeted to CLAHub non-bug requests often will take longer for me to handle.

[2016-11-18 17:15] hismightiness commented on #151
A CLA is for an individual contributor, but a CCLA is for a company who's individuals will be contributing on behalf of the company.  There's a whole different set of concerns when development is done as part of a company initiative.

[http://oss-watch.ac.uk/resources/cla#corporate-contributor-licence-agreements](http://oss-watch.ac.uk/resources/cla#corporate-contributor-licence-agreements)

[2016-12-05 15:41] silverhook commented on #142
Harmony Agreements are deperecated by [ContributorAgreements.org][CAo]. But, yes I agree that collaboration should be done here.

[CAo]: http://contributoragreements.org/

[2016-12-05 15:49] silverhook commented on #142
Harmony Agreements are deperecated by [ContributorAgreements.org][CAo]. But, yes I agree that collaboration makes much sense here.

[CAo]: http://contributoragreements.org/

[2016-12-07 18:08] step21 commented on #24
* There are probably users, but not sure how many. I am not even sure how many users CLAHub has on github...
* Afaik GitLabs api is quite similar to Github, also providing OAuth authentication. (https://docs.gitlab.com/ee/integration/oauth_provider.html and access to users via api https://docs.gitlab.com/ce/api/users.html)
* What do you mean with permission mapping? Similar to Github, GitLab has u

[2016-12-13 10:36] adrelanos commented on #82
Has any progress been made on this?

-----

Otherwise, can enabling clahub for loads of repositories be automated so I wouldn't have to manually enable this for 100+ repositories?

[2016-12-13 20:44] ryanttb commented on #61
@mitar Agreed. Closing this one as duplicate as there is more activity on #82

[2016-12-13 20:44] #61 closed

[2016-12-13 20:50] briantopping commented on #61
Yah good luck with it all. I filed this, what, 2.5 years ago? I doubt it will go very far. And that activity... A bunch of thumbs up. Woo hoo.

Whatever.

[2016-12-16 20:17] gustavohmsilva opened #152 "How can I contribute to translate clahub to my main language?"
How can I contribute to translate clahub to my main language?

[2016-12-16 21:50] ryanttb commented on #152
In a perfect world, you would submit a locale file having keys that match the default one:

https://github.com/clahub/clahub/blob/master/config/locales/en.yml

However, it does not appear clahub had internationalization in mind while being built. All the text of the site must be extracted and moved to the default locale file before localization can begin.

[2016-12-16 23:36] gustavohmsilva commented on #152
That is just sad. I have the time to contribute with the project providing translation to my native language, as I have done already with Cryptpad, Ring, DuckDuckGo, etc. But given my work I don't have time unfortunately to work with internationalization right now, just translation. If someone decide to make the code translation friendly I will be glad to help!

[2016-12-21 13:21] cchantep opened #153 "Build status not set"
Hi,

I'm trying to setup CLAHub, everything looked ok, but when a contributor had given his agreement about a PR, the build status hasn't been updated.

How can I debug it?

[2017-01-24 11:40] gentakojima commented on #24
I'm also interested on this. Note, however, that GitLab can be installed on premises, so it should also support especifying the domain in which GitLab is installed. I think GitLab is **the only** alternative when installed on premises, hence the interest.

[2017-01-24 11:49] silverhook commented on #24
There’s a few others as well, e.g. [Gogs](https://gogs.io/). But GitLab is probably the most popular and feature-full.

[2017-01-31 21:19] mitar opened #154 "I moved a repository on GitHub, but now things seems to not work anymore"
I have this agreement setup in the past: https://www.clahub.com/agreements/mitar/mind

Now I moved the repository to `peer/mind`. It seems because of that things do not work anymore:
* There is no agreement at https://www.clahub.com/agreements/peer/mind
* I cannot transfer ownership to `peer` because it is not an user of CLAHub, but a GitHub organization
* The CLAHub web hook seems to be failing w

[2017-02-01 12:06] elbenfreund commented on #137
Hi @mzagaja
Is there by any chance news on this? I brought up questions similar to the ones raised here with the FSFE recently and reference this issue so while it is closed I wondered if you were able to get any feedback so far?

[2017-02-01 13:12] silverhook commented on #137
@elbenfreund I’m a member of the FSFE Legal Team (and was its coordinator for several years), but haven’t seen that question pop up on the relevant mailing lists. Can you point me to it?

I have been giving this question some serious though lately …

[2017-02-01 13:55] elbenfreund commented on #137
As I in all honesty did not anticipate the lack of a clear go-to-procedure and felt it must be me being thick. So I took the opportunity and raised the issue at the FSFE booth at 33c3 (talking to "Silvian", who tried to be very helpful!). In a follow up email I got from him he told me that "Hannes" suggested "clahub"... at which point we went full circle :D

[2017-02-01 14:18] silverhook commented on #137
Hehe, so it seems ;)

As soon as the FLA 2.0 gets published (the legal text is finally done), I hope to find more time to think about it more. But it seems to me that there might be a simple technical solution for legally valid signing. How you want to present that to the courts, is another matter.

[2017-02-01 16:30] mzagaja commented on #137
Hi @elbenfreund, apologies for the lack of updates or announcement, but I wrapped up my fellowship at Berkman Klein and am no longer the maintainer for CLAHub. I had not heard any updates from the Cyberlaw Clinic when I was there, but maybe @ryanttb or someone else at Berkman can check-in.

[2017-02-01 16:46] ryanttb commented on #137
Sadly, I haven't heard anything new. I'll ping the Clinic as I am not able to answer any questions of law myself.

[2017-02-01 18:18] mitar commented on #137
Should this issue be reopened for now then?

[2017-02-01 18:22] mitar commented on #137
I think what constitutes a valid signature online probably depends on country to country.

Just recently I had to sign something using https://www.docusign.com/. We might want to check how they are doing it. But from my feeling it was more or less "type your name here, draw something here, and press submit and we will store it into the database and give you a PDF where your name (and others who ha

[2017-02-01 18:46] elbenfreund commented on #137
Thank you @mzagaja and @ryanttb for your fast replies. What @mzagaja departure mean for CLAhub as a whole? Is @ryanttb taking over as a proper maintainer? Clearly there is documented interest as well as need and its topic seems to be a perfect fit for the Berkman Center so I would be most grateful if it could continue to grow under its guidance.

[2017-02-01 18:48] silverhook commented on #137
Yup. There’s a really good [research paper][rens] on this already on what formalities are needed for a CAA or CLA to be valid in several jurisdictions. In almost all reviewed jurisdiction it turns out a digital signature is enough.

[rens]: https://script-ed.org/wp-content/uploads/2013/08/rens.pdf

[2017-02-01 18:55] elbenfreund commented on #137
@mitar @silverhook I think at its root there are two separate questions to be dealt with if CLAs are to provide any real reassurance.
1. A documented "signing process for the CLA "that can ensure that the CLA has been signed by a particular natural person / online account.
2. A way to document the (internal) signing process or to produce some kind of verifiable information to the actual CLAhub use

[2017-02-01 19:01] silverhook commented on #137
@elbenfreund I agree with your analysis that these are two distinct problems, but re problem (1) for a _valid_ copyright assignment or exclusive license, you still have to fulfil the formality requirements of the jurisdiction that specific agreement between those two parties. And I think both (1) and (2) could be potentially solved with some more research and creative lawyering around what is deem

[2017-02-01 20:31] mitar commented on #137
But what exactly constitutes a digital signature? A click on the form? A click on the form served by HTTPS? A personal certificate used to sign a document? A FIDO U2F token signing a document? An SGX enclave running on the server signing that the user really clicked the form button?

[2017-02-01 20:33] mitar commented on #137
BTW, I do not think we should solve this more than any other enterprise here. There are clear issues here inside the wider ecosystem of digital signatures and enforcement of them, but I am not sure if we can really fix those issues ourselves. What we can probably do is do an industry-standard. Whatever that is.

[2017-02-01 20:54] silverhook commented on #137
Many things, starting with a government CA-issued certs and PGP keys.

I’d argue that an SSH key used to commit to a git repo should qualify as well. And wrapping a CLA around that (through a DCO-like system) should be doable IMO.

[2017-02-07 00:21] shepware commented on #64
Thanks for putting this out there, @jasonm.  A little more org setup help appreciated.  For reference by anyone setting up an organization for the first time:

-- I have a paid/private org account in addition to my free/public user account, and created the paid/org account by starting a new account, going to settings, converting it, and adding payment.
-- I'm aware of the checklist [here](https://

[2017-02-13 20:36] edent opened #155 "Insecure downloads and other links"
The file `provision.sh` uses an `http:` link to download Ruby:

`wget http://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.4.tar.gz`

This should be upgraded to `https:` for security & privacy reasons.

There are also several links within the documentation & views which are `http` when the site supports `https`.

PR incoming :-)

[2017-02-14 09:25] mitar commented on #154
Has Clahub become not maintained again? :-( @mzagaja?

[2017-02-14 14:36] mzagaja commented on #154
Hi @mitar, I may have mentioned elsewhere that I've wrapped up my fellowship at Berkman Klein so am no longer the maintainer, but I think @ryanttb is now taking charge of things. He might just not have notifications on for the repo issues.

[2017-02-15 23:17] Floppy opened #157 "API for fetching signatures"
I want to be able to link people to a CLA from [another webapp](https://github.com/openpolitics/votebot), if appropriate, so I want to programmatically tell if someone has signed a CLA. In https://github.com/clahub/clahub/blob/master/app/controllers/agreements_controller.rb#L44, the CSV view is explicitly only rendered for CLAs that the current user owns. I guess this is in order to avoid leaking

[2017-02-15 23:20] Floppy commented on #157
I see in https://github.com/clahub/clahub/commit/4e62aa499d7f2aec84903ac69d1a5cec99bfeae3 by @jasonm this was an explicit decision to only show signatures to owners; originally it was open for all to see.

[2017-02-15 23:22] Floppy commented on #157
BTW, I'll happily do the code to add this, but want to get a measure of how maintainers would prefer it be implemented, and how authentication etc should be done. We could, for instance, add an API key per user, but that's a larger feature so I'd want to consult first :)

[2017-02-17 15:22] ryanttb commented on #157
Good sleuthing. Based on conversations with the tech team a while ago, I *believe* we were considering this public info anyway. However, we're not lawyers. I'm going to push this question to the law clinic before we change the code back.

[2017-02-17 15:28] ryanttb commented on #154
I'm watching notifications & sent this question (when first posted) to someone on our team who's better prepared to fix it for you but I haven't heard back. I'll try again.

[2017-02-17 17:28] Floppy commented on #157
That would be awesome, let me know what they say. :)

[2017-02-17 18:06] mitar commented on #154
Thanks. If I can help in any way, please tell.

[2017-02-18 06:23] strugee commented on #150
@mzagaja sorry to bother you, but do you have any idea if/when this might get fixed? Thanks <3

[2017-02-24 17:47] #155 closed

[2017-02-24 19:34] kalefranz opened #158 "Owner transfer error"
We have attempted to transfer the owner of https://www.clahub.com/agreements/conda/conda from @teoliphant to @kalefranz.  Somewhere in the process there was an apparent error.  It seems that the agreement on CLAHub no longer exists, but we also got an error when trying to re-create it.  Except now I've gone back to that URL to copy the exact error to display here, and now it appears to exist.

How

[2017-04-05 19:18] kreynen opened #159 "Update account shown when signing into GitHub"
![screen shot 2017-03-30 at 4 31 52 pm](https://cloud.githubusercontent.com/assets/385234/24720231/93729162-19f9-11e7-80b9-8904f8c7bddf.png)

I'm not sure if something changed in GitHub's UI, but users now see @jasonm's profile picture when authorizing this app.  Nothing against Jason, but this doesn't really "trust me".  It would be much better if the account was linked to an organizational accou

[2017-05-20 07:55] mitar commented on #154
Any update on this? Can I help somehow?

[2017-07-13 01:08] jasonm commented on #159
Agreed! I've updated the logo on this OAuth Application (CLAHub Signatures) to reflect the CLAHub visual identity.

[2017-07-13 01:08] #159 closed

[2017-07-13 01:09] jasonm commented on #159
<img width="348" alt="sign_in_to_github_ _github" src="https://user-images.githubusercontent.com/1031/28146241-2fd0b266-672d-11e7-9f9b-ab85418e336e.png">

[2017-09-07 08:21] davide-zerbetto opened #161 "Issue with CLAHub when updating the CLA"
Hi all
we configured the Knowage Server project (https://github.com/KnowageLabs/Knowage-Server) in order to have contributions signed by means of CLAHub.
We linked the Knowage repository some months ago and everything was fine (or at least.... it seemed to be fine).
Recently we updated the CLA but we did not succeed in this operation (maybe we updated also the owner by mistake), CLAHub displayed a

[2018-01-29 23:04] nictuku opened #162 "Allow changing CLA form fields after agreement is created"
Hi.

I created an agreement, a couple users have signed, now I wanted to change the form to remove some of the fields (the default ones are too stringent).

Unfortunately, it doesn't seem possible to remove fields once a project is created. I could create a new project, but then I would partially lose the previous CLA data - I could download the CSV but I don't think I'd be able to import it into

[2018-02-08 12:49] tornewuff opened #163 ""We're sorry but something went wrong" when trying to sign CLA"
I'm trying to sign https://www.clahub.com/agreements/ForestryMC/ForestryMC but submitting the form just gives me a page saying "We're sorry but something went wrong".

[2018-02-22 23:27] jimkring opened #164 "How do I remove CLA Hub from a project."
Hi. I logged into the CLA Hub (authenticated with GitHub) and deleted the CLA associated with a repository.  I also went into my repository settings and deleted the CLA Hub webhook. However, when I do a pull request, it's still showing that that the status check for CLA Hub is failing.

![image](https://user-images.githubusercontent.com/381432/36569975-dbee68dc-17e4-11e8-8c01-1d38e3f2ecc4.png)

Ho

[2018-03-12 18:05] jonwoodring opened #165 "Available repository isn't showing up in list for new agreement"
The repository in question is https://github.com/cinemascience/cinema_lib

I've done everything that I can tell that should make it appear as an available repository (public repo, public organization in my profile, I'm an owner of the organization), but it still isn't working. I tried checking in another browser that I haven't logged in to see if the organization shows up on my public profile and

[2018-05-04 07:56] GeirGrusom commented on #163
I'm experiencing the same thing...

[2018-05-04 19:11] kiosk-enterprise commented on #86
+1

[2018-05-15 20:33] ScottKolo commented on #149
Any updates on this? I agree with @saxbophone that this is a needless (and perhaps dangerous) requirement. Having the project owner and/or collaborators sign the CLA seems to imply that they are signing over their rights to the other collaborators.

The easiest solution seems to be to allow exemptions/exceptions to signing. Perhaps the better solution (albeit the more difficult one) would be to ha

[2018-05-22 09:05] katrinleinweber opened #166 "Add GitHub topics to this repo"
Since [GitHub introduced Topics](https://blog.github.com/2017-01-31-introducing-topics/), several [other CLA tools have done so](https://github.com/topics/contributor-license-agreement). In order to make that overview page a more useful resource, please consider setting `contributor-license-agreement` as one of this repo's topics.

[2018-06-08 05:16] grooverdan commented on #163
just got the same (twice) on https://www.clahub.com/agreements/codership/galera

[2018-07-18 03:01] dagostinelli commented on #165
Same here for my public organizations.  I've also publicized the ownership.

[2018-07-23 05:02] grooverdan commented on #163
tried again today - worked for me.

[2018-09-07 09:15] Jotschi opened #168 "Transfer ownership back to organisation"
I have accidentally transferred ownership of a CLA to my user. It previously belonged to the organisation repository. How can I transfer it back to the organisation? The organisation is not part of the list. I don't want to delete the CLA and re-create it.

Current: Jotschi/mesh
Should: gentics/mesh

[2018-10-01 12:32] Jotschi commented on #111
Is anyone still maintaining the project?

[2018-11-07 14:49] Jotschi commented on #164
* Settings -> Third Party Access -> Link in the middle box( "your own authorized applications.") -> Revoke

[2018-12-13 02:29] kevmitch opened #169 "Printing or PDF"
Being a legal agreement, it would be very helpful to produce a PDF or a paper copy of a CLA for records purposes. It seems that simply trying to print the page from the [NetSys/bess](https://www.clahub.com/agreements/NetSys/bess) CLA for example results in disaster in both Chromium and Firefox.

The browsers' reluctance to break the single textbox across pages results in a nearly blank first page

[2019-02-08 04:36] kubosho commented on #163
I tried CLA sign and then succeeded.
reproduce: https://github.com/vivliostyle/vivliostyle.js/issues/509#issuecomment-461687956

[2019-02-08 05:12] grooverdan commented on #163
Retried here. '500 error' -> "We're sorry, but something went wrong." on URL https://www.clahub.com/agreements/codership/galera/signatures

response headers:
<pre>
cf-ray | 4a5b91d7088c658d-SYD
content-type | text/html; charset=utf-8
date | Fri, 08 Feb 2019 05:07:04 GMT
X-Firefox-Spdy | h2
x-rack-cache | invalidate, pass
x-request-id | 44720985-090f-4e93-9664-f7bb4eb3a65e
x-runtime | 8.158919
</pr

[2019-04-16 21:12] mondalaci opened #170 "Make signatories verifiable when exporting list"
I'm concerned about the exact same issue as mentioned in https://github.com/cla-assistant/cla-assistant/issues/336

Would somebody comment on it?

[2019-09-10 20:28] Southclaws commented on #164
I think the UI changed since this was posted.

What's the current way to remove this from an org? We're getting the bot post on every PR now and we've moved to a different CLA solution but every PR is marked red because the CLA Hub check fails.

[2019-12-15 14:04] camdenorrb commented on #86
+1

[2020-04-16 13:09] ferventcoder opened #174 "CLAHub is down?"
Maybe it is just me, but it appears the Heroku app that is behind the url is down.

[2020-04-21 10:52] JurjenBiewenga commented on #174
Would perhaps @ryanttb or @jcushman know anything about this?

[2020-05-05 20:22] mzagaja commented on #174
Hi all,

I received the following note from Heroku:

[2020-06-08 19:44] vromero commented on #174
I guess it's safe to say CLAHub is down for good. I'm concerned about the previous CLA signatures, **are they lost?**